<h1> Task 1: Implement the Apriori algorithm to mine frequent itemsets </h1>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools

In [1]:
# Make dummy data
data = pd.DataFrame(np.random.randint(0, 2, size=(10, 8)), columns=list('ABCDEFGH'))
data

   A  B  C  D  E  F  G  H
0  0  1  1  1  1  0  0  0
1  0  1  0  0  1  1  1  1
2  0  0  1  0  1  0  0  0
3  1  0  1  1  0  1  0  1
4  0  0  1  1  1  0  1  0
5  0  0  1  1  0  1  0  0
6  1  0  1  0  0  0  0  0
7  1  1  1  1  0  0  0  1
8  0  1  0  0  1  1  1  1
9  1  0  1  1  0  1  0  0

In [2]:
# Count the number of 0s and 1s in each column
# The number of 1s is the number of times each item appears
value_counts = data.apply(pd.value_counts)
value_counts

   A  B  C  D  E  F  G  H
0  6  6  2  4  5  5  7  6
1  4  4  8  6  5  5  3  4

In [3]:
value_counts['A'][1]

4

Using the lecture notes explanation of the Apriori Algorithm, we have 4 steps to do.
1. Candidate Generation
2. Candidate Pruning
3. Support Counting
4. Candidate Elimination

Sample code for 1 and 2 itemset

Define the min support

In [4]:
min_support = 4

In [100]:
# Combined dictionary of frequent itemsets
combined_freq_itemsets = {}

Generate F1 (frequent 1-itemsets)

In [101]:
# Get the frequent itemsets with count greater than or equal to min_support
columns = data.columns
frequent_itemsets = {}
for column in columns:
    # Append the itemset and its count to the dictionary if the count is greater than or equal to min_support
    if value_counts[column][1] >= min_support:
        frequent_itemsets[column] = value_counts[column][1]
        # frequent_itemsets.append((column, value_counts[column][1]))
        # data.drop(column, axis=1, inplace=True)

print(frequent_itemsets)

dummy_dict = frequent_itemsets.copy()
for key, item in dummy_dict.copy().items():
    dummy_dict[(tuple(key))] = dummy_dict.pop(key)
print(dummy_dict)
    
combined_freq_itemsets.update(dummy_dict)

{'A': 4, 'B': 4, 'C': 8, 'D': 6, 'E': 5, 'F': 5, 'H': 4}
{('A',): 4, ('B',): 4, ('C',): 8, ('D',): 6, ('E',): 5, ('F',): 5, ('H',): 4}

Step 1: Candidate Generation

In [102]:
# Generate all possible combinations of frequent itemsets with k+1 items
combinations = []
k = 1
combinations.append(list(itertools.combinations(frequent_itemsets.keys(), k+1)))

combinations

[[('A', 'B'),
  ('A', 'C'),
  ('A', 'D'),
  ('A', 'E'),
  ('A', 'F'),
  ('A', 'H'),
  ('B', 'C'),
  ('B', 'D'),
  ('B', 'E'),
  ('B', 'F'),
  ('B', 'H'),
  ('C', 'D'),
  ('C', 'E'),
  ('C', 'F'),
  ('C', 'H'),
  ('D', 'E'),
  ('D', 'F'),
  ('D', 'H'),
  ('E', 'F'),
  ('E', 'H'),
  ('F', 'H')]]

Step 2: Candidate Pruning (do not need to prune for 2 itemset as F1 items are all frequent)

Step 3: Support Counting

In [103]:
# Convert the list of lists of tuples to a list of tuples
combinations = combinations[0]

In [104]:
# Count the number of occurences of each combination in the data
combinations_count = {}
for combination in combinations:
    # Using groupby and size to count the number of occurences of each combination
    # Resetting the index to get the count of each combination as a column in the dataframe
    test = data.groupby(list(combination)).size().reset_index(name='count')
    
    # Append the combination and its count to the dictionary
    # The count of each combination is the last value in the count column
    # Moreover, we need to check whether the last row is a combination of 1s instead of 1s and 0s
    # If it is a combination of 1s, then we append the combination and its count to the dictionary
    # Otherwise, we do not append it to the dictionary
    if test[test.columns[0]].iloc[-1] == 1 and test[test.columns[1]].iloc[-1] == 1:
        combinations_count[combination] = test['count'].iloc[-1]

# print(test)
combinations_count

{('A', 'B'): 1,
 ('A', 'C'): 4,
 ('A', 'D'): 3,
 ('A', 'F'): 2,
 ('A', 'H'): 2,
 ('B', 'C'): 2,
 ('B', 'D'): 2,
 ('B', 'E'): 3,
 ('B', 'F'): 2,
 ('B', 'H'): 3,
 ('C', 'D'): 6,
 ('C', 'E'): 3,
 ('C', 'F'): 3,
 ('C', 'H'): 2,
 ('D', 'E'): 2,
 ('D', 'F'): 3,
 ('D', 'H'): 2,
 ('E', 'F'): 2,
 ('E', 'H'): 2,
 ('F', 'H'): 3}

In [105]:
# test.index.values[-1].count(1)
test1 = test
count = test1['count'].iloc[-1]
count

3

Step 4: Candidate Elimination

In [106]:
# Prune the combinations with count less than min_support
for combination in combinations_count.copy().keys():
    if combinations_count[combination] < min_support:
        combinations_count.pop(combination)

print(combinations_count)
combined_freq_itemsets.update(combinations_count)

{('A', 'C'): 4, ('C', 'D'): 6}

Candidate generation for 2 or more frequent itemsets

In [107]:
# Merge the combinations if the first k-1 items are the same
# and the last item is different
# This is done to generate combinations with k+1 items
# from combinations with k items

# Compare first k-1 items of each combination
# If they are the same, merge them
# If they are not the same, do not merge them
# The merged combinations are stored in a dictionary
merged_combinations = {}
# for combination1 in combinations_count.keys():
#     for combination2 in combinations_count.keys():
#         # Check if the first k-1 items are the same
#         if combination1[:-1] == combination2[:-1]:
#             # Check if the last item is different
#             if combination1[-1] != combination2[-1]:
#                 # Merge the combinations
#                 merged_combinations[combination1 + (combination2[-1],)] = 0

for index, combination1 in enumerate(combinations_count.keys()):
    for combination2 in list(combinations_count.keys())[index+1:]:
        # Check if the first k-1 items are the same
        if combination1[:-1] == combination2[:-1]:
            # Check if the last item is different
            if combination1[-1] != combination2[-1]:
                # Merge the combinations
                merged_combinations[combination1 + (combination2[-1],)] = 0


merged_combinations

{}

Support counting

In [108]:
# Count the number of occurences of each combination in the data
merged_combinations_count = {}
for combination in merged_combinations.keys():
    # Using groupby and size to count the number of occurences of each combination
    # Resetting the index to get the count of each combination as a column in the dataframe
    test = data.groupby(list(combination)).size().reset_index(name='count')

    # Append the combination and its count to the dictionary
    # The count of each combination is the last value in the count column
    # as the last row of the dataframe is when both items are present in one transaction in the original data dataframe
    merged_combinations_count[combination] = test['count'].iloc[-1]

# print(test)
merged_combinations_count

{}

In [109]:
# Prune the combinations with count less than min_support
for combination in merged_combinations_count.copy().keys():
    if merged_combinations_count[combination] < min_support:
        merged_combinations_count.pop(combination)

print(merged_combinations_count)
combined_freq_itemsets.update(merged_combinations_count)

{}

In [110]:
combined_freq_itemsets

{('A',): 4,
 ('B',): 4,
 ('C',): 8,
 ('D',): 6,
 ('E',): 5,
 ('F',): 5,
 ('H',): 4,
 ('A', 'C'): 4,
 ('C', 'D'): 6}

Part 2: Rule generation

In [166]:
lis = ['Mineral Water', 'Ground Beef', 'Spagetti']

for i in range(1, len(lis)):  #  xrange will return the values 1,2,3,4 in this loop
    combinations = []
    combinations.append(list(itertools.combinations(lis, i)))
    if combinations:
        combinations = combinations[0]
        print(combinations)
        for combination in combinations:
            print(combination)

combinations

[('Mineral Water',), ('Ground Beef',), ('Spagetti',)]
('Mineral Water',)
('Ground Beef',)
('Spagetti',)
[('Mineral Water', 'Ground Beef'), ('Mineral Water', 'Spagetti'), ('Ground Beef', 'Spagetti')]
('Mineral Water', 'Ground Beef')
('Mineral Water', 'Spagetti')
('Ground Beef', 'Spagetti')

[('Mineral Water', 'Ground Beef'),
 ('Mineral Water', 'Spagetti'),
 ('Ground Beef', 'Spagetti')]

In [137]:
# Generate rules for frequent itemsets with k+1 items with min confidence
# The rules are generated by splitting the combination into two parts
min_confidence = 0.5
rules = {}
for key in combined_freq_itemsets.keys():
    combinations = []
    for i in range(1, len(key)):  #  xrange will return the values 1,2,3,4 in this loop
        combinations.append(list(itertools.combinations(key, i)))
        if combinations:
            combinations = combinations[0]
            for combination in combinations:
                antecedent = combination
                consequent = tuple(set(key) - set(combination))
                confidence = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent]
                if confidence >= min_confidence:
                    rules[(antecedent, consequent)] = confidence
    # Split the combination into two parts
    # The first part is the antecedent and the second part is the consequent
    # for i in range(1, len(key)):
    #     antecedent_1 = key[:i]
    #     consequent_1 = key[i:]

    #     antecedent_2 = key[i:]
    #     consequent_2 = key[:i]

    #     # Calculate the confidence of the rule
    #     # Confidence = support of combination / support of antecedent
    #     confidence_1 = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent_1]
    #     confidence_2 = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent_2]

    #     # Check if the confidence is greater than min_confidence
    #     if confidence_1 >= min_confidence:
    #         # Append the rule to the rules dictionary
    #         rules[(antecedent_1, consequent_1)] = confidence_1
        
    #     if confidence_2 >= min_confidence:
    #         # Append the rule to the rules dictionary
    #         rules[(antecedent_2, consequent_2)] = confidence_2

rules

{(('A',), ('C',)): 1.0,
 (('C',), ('A',)): 0.5,
 (('C',), ('D',)): 0.75,
 (('D',), ('C',)): 1.0}

In [17]:
# Prune smaller rules based on confidence of larger rules
# If larger rule has confidence less than min_confidence, smaller rules are pruned

# Sort the rules in descending order of confidence
sorted_rules = sorted(rules.items(), key=lambda x: x[1], reverse=True)
sorted_rules

# Prune the rules
pruned_rules = {}
for rule in sorted_rules:
    # Append the rule to the pruned_rules dictionary if it is not a subset of any rule in the dictionary
    if not any([set(rule[0]).issubset(set(pruned_rule[0])) for pruned_rule in pruned_rules.keys()]):
        pruned_rules[rule[0]] = rule[1]

pruned_rules

{(('A',), ('C',)): 1.0,
 (('A',), ('E',)): 1.0,
 (('A',), ('C', 'E')): 1.0,
 (('A', 'C'), ('E',)): 1.0,
 (('C',), ('D',)): 0.75}

In [59]:
# Apriori algorithm
# We combine the above steps to generate frequent itemsets with k+1 items
# from frequent itemsets with k items
# We continue this process until we get no frequent itemsets with k+1 items
# We then combine the frequent itemsets with k items to generate association rules
# We continue this process until we get no association rules
# We then combine the association rules to generate association rules with k+1 items


# Function to generate frequent itemsets with 1 item (initialisation)
def generate_freq_1_itemsets(data, min_support, combined_freq_itemsets):
    # Count the number of 0s and 1s in each column
    # The number of 1s is the number of times each item appears
    value_counts = data.apply(pd.value_counts)

    # Get the frequent itemsets with count greater than or equal to min_support
    columns = data.columns
    frequent_itemsets = {}
    for column in columns:
        # Append the itemset and its count to the dictionary if the count is greater than or equal to min_support
        if value_counts[column][1] >= min_support:
            frequent_itemsets[column] = value_counts[column][1]
            # frequent_itemsets.append((column, value_counts[column][1]))
            # data.drop(column, axis=1, inplace=True)

    dummy_dict = frequent_itemsets.copy()
    for key, item in dummy_dict.copy().items():
        # For dummy data
        # dummy_dict[(tuple(key))] = dummy_dict.pop(key)
        # For real data
        dummy_dict[(key,)] = dummy_dict.pop(key)
    print(dummy_dict)

    combined_freq_itemsets.update(dummy_dict)

    print(frequent_itemsets)
    return frequent_itemsets


# Function to generate frequent itemsets with k+1 items
def generate_k_plus_1_candidate_itemsets(frequent_itemsets, k):
    # Generate all possible combinations of frequent itemsets with k+1 items

    # If k = 1, we do not need to merge the combinations
    if k == 1:
        combinations = []
        combinations.append(list(itertools.combinations(frequent_itemsets.keys(), k+1)))
        return combinations
    
    else:
        # Merge the combinations if the first k-1 items are the same
        # and the last item is different
        # This is done to generate combinations with k+1 items
        # from combinations with k items
        # Compare first k-1 items of each combination
        # If they are the same, merge them
        # If they are not the same, do not merge them
        # The merged combinations are stored in a dictionary
        merged_combinations = {}
        

        for index, combination1 in enumerate(frequent_itemsets.keys()):
            for combination2 in list(frequent_itemsets.keys())[index+1:]:
                # Check if the first k-1 items are the same
                if combination1[:-1] == combination2[:-1]:
                    # Check if the last item is different
                    if combination1[-1] != combination2[-1]:
                        # Merge the combinations
                        merged_combinations[combination1 + (combination2[-1],)] = 0

    
        return merged_combinations

# Function to count the number of occurences of each combination in the candidate itemsets
def k_plus_1_itemsets_support_counting(k_plus_1_candidate_itemsets, k, data):
    # If k = 1, we need to convert the list of lists of tuples to a list of tuples
    if k == 1:
        k_plus_1_candidate_itemsets = k_plus_1_candidate_itemsets[0]

    # Count the number of occurences of each combination in the data
    candidate_itemsets_count = {}
    for candidate_itemset in k_plus_1_candidate_itemsets:
        # Using groupby and size to count the number of occurences of each combination
        # Resetting the index to get the count of each combination as a column in the dataframe
        test = data.groupby(list(candidate_itemset)).size().reset_index(name='count')

        # Append the combination and its count to the dictionary
        # The count of each combination is the last value in the count column
        # Moreover, we need to check whether the last row is a combination of 1s instead of 1s and 0s
        # If it is a combination of 1s, then we append the combination and its count to the dictionary
        # Otherwise, we do not append it to the dictionary
        # if test[test.columns[0]].iloc[-1] == 1 and test[test.columns[1]].iloc[-1] == 1:
        #     candidate_itemsets_count[candidate_itemset] = test['count'].iloc[-1]
        num_ones = 0
        print(test, len(test.columns))
        for i in range(len(test.columns)-1):
            if test[test.columns[i]].iloc[-1] != 1:
                break
            else:
                num_ones += 1
                continue
            
        if num_ones == len(test.columns)-1:
            candidate_itemsets_count[candidate_itemset] = test['count'].iloc[-1]

    return candidate_itemsets_count


def candidate_elimination(combinations_count, min_support, combined_freq_itemsets):
    
    # Prune the combinations with count less than min_support
    for combination in combinations_count.copy().keys():
        if combinations_count[combination] < min_support:
            combinations_count.pop(combination)
    
    combined_freq_itemsets.update(combinations_count)
    return combinations_count

def generate_rules(combined_freq_itemsets, min_confidence):
    # Generate rules for frequent itemsets with k+1 items with min confidence
    # The rules are generated by splitting the combination into two parts
    rules = {}
    for key in combined_freq_itemsets.keys():
        
        for i in range(1, len(key)):  #  xrange will return the values 1,2,3,4 in this loop
            combinations = []
            combinations.append(list(itertools.combinations(key, i)))
            print(key, combinations)
            if combinations:
                combinations = combinations[0]
                for combination in combinations:
                    if type(combination) == str:
                        combination = (combination,)
                    antecedent = combination
                    consequent = tuple(set(key) - set(combination))
                    # print("Combinations is ", combinations, "Combination is: ", combination, "Antecedent is: ", antecedent, "Consequent is: ", consequent)
                    confidence = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent]
                    # print('antecedent: ', antecedent, 'consequent: ', consequent, 'confidence: ', confidence)
                    if confidence >= min_confidence:
                        rules[(antecedent, consequent)] = confidence
        # Split the combination into two parts
        # The first part is the antecedent and the second part is the consequent
        # for i in range(1, len(key)):
        #     antecedent_1 = key[:i]
        #     consequent_1 = key[i:]

        #     antecedent_2 = key[i:]
        #     consequent_2 = key[:i]
        #     # Calculate the confidence of the rule
        #     # Confidence = support of combination / support of antecedent
        #     confidence_1 = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent_1]
        #     confidence_2 = combined_freq_itemsets[key] / combined_freq_itemsets[antecedent_2]

        #     print(antecedent_1, consequent_1, confidence_1)
        #     print(antecedent_2, consequent_2, confidence_2)
        #     # Check if the confidence is greater than min_confidence
        #     if confidence_1 >= min_confidence:
        #         # Append the rule to the rules dictionary
        #         rules[(antecedent_1, consequent_1)] = confidence_1

        #     if confidence_2 >= min_confidence:
        #         # Append the rule to the rules dictionary
        #         rules[(antecedent_2, consequent_2)] = confidence_2
                
    return rules

In [34]:
def my_apriori(data, min_support, min_confidence):
    
    # Combined dictionary of frequent itemsets
    combined_freq_itemsets = {}

    # Get frequent 1 itemsets
    frequent_1_itemsets = generate_freq_1_itemsets(data, min_support, combined_freq_itemsets)

    k_plus_1_candidate_itemsets = None
    k_plus_1_itemsets_support_count = None
    k_plus_1_frequent_itemsets = None
    
    k = 1

    while True:
        # print(k)
        if k == 1:
            k_plus_1_candidate_itemsets = generate_k_plus_1_candidate_itemsets(frequent_1_itemsets, k)
        else:
            k_plus_1_candidate_itemsets = generate_k_plus_1_candidate_itemsets(k_plus_1_frequent_itemsets, k)
        print(combined_freq_itemsets)
        # print(k_plus_1_candidate_itemsets)
        k_plus_1_itemsets_support_count = k_plus_1_itemsets_support_counting(k_plus_1_candidate_itemsets, k, data)
        
        k_plus_1_frequent_itemsets = candidate_elimination(k_plus_1_itemsets_support_count, min_support, combined_freq_itemsets)
        # print(k_plus_1_frequent_itemsets)
        k += 1
        print('k: ', k)
        # If there are no frequent itemsets with k+1 items, break
        if len(k_plus_1_frequent_itemsets) == 0:
            break

    # Generate rules for frequent itemsets with k+1 items with min confidence
    # The rules are generated by splitting the combination into two parts
    rules = generate_rules(combined_freq_itemsets, min_confidence)
    
    return combined_freq_itemsets, rules

In [139]:
combined_freq_itemsets, rules = my_apriori(data, 4, 0.5)

{('A',): 4, ('B',): 4, ('C',): 8, ('D',): 6, ('E',): 5, ('F',): 5, ('H',): 4}
{'A': 4, 'B': 4, 'C': 8, 'D': 6, 'E': 5, 'F': 5, 'H': 4}
{('A',): 4, ('B',): 4, ('C',): 8, ('D',): 6, ('E',): 5, ('F',): 5, ('H',): 4}
k:  2
{('A',): 4, ('B',): 4, ('C',): 8, ('D',): 6, ('E',): 5, ('F',): 5, ('H',): 4, ('A', 'C'): 4, ('C', 'D'): 6}
k:  3

In [140]:
print('combined frequent itemsets: ', combined_freq_itemsets)

combined frequent itemsets:  {('A',): 4, ('B',): 4, ('C',): 8, ('D',): 6, ('E',): 5, ('F',): 5, ('H',): 4, ('A', 'C'): 4, ('C', 'D'): 6}

In [141]:
freq_itemsets_df = pd.DataFrame.from_dict(combined_freq_itemsets, orient='index', columns=['support'])
freq_itemsets_df

        support
(A,)          4
(B,)          4
(C,)          8
(D,)          6
(E,)          5
(F,)          5
(H,)          4
(A, C)        4
(C, D)        6

In [142]:
print('rules: ', rules)
for key, item in rules.items():
    for i in range(1, len(key)):
        antecedent = key[:i]
        consequent = key[i:]
        print('antecedent: ', list(sum(antecedent, ())), '-> consequent: ', list(sum(consequent, ())), 'confidence: ', item)

rules:  {(('A',), ('C',)): 1.0, (('C',), ('A',)): 0.5, (('C',), ('D',)): 0.75, (('D',), ('C',)): 1.0}
antecedent:  ['A'] -> consequent:  ['C'] confidence:  1.0
antecedent:  ['C'] -> consequent:  ['A'] confidence:  0.5
antecedent:  ['C'] -> consequent:  ['D'] confidence:  0.75
antecedent:  ['D'] -> consequent:  ['C'] confidence:  1.0

<h3> Showing the results of my code is correct by using the actual official Apriori algorithm library extension </h3>

In [24]:
!pip install mlxtend

Collecting mlxtend
  Obtaining dependency information for mlxtend from https://files.pythonhosted.org/packages/73/da/d5d77a9a7a135c948dbf8d3b873655b105a152d69e590150c83d23c3d070/mlxtend-0.23.0-py3-none-any.whl.metadata
  Downloading mlxtend-0.23.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (3.6.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (4.37.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\tengwei\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.0-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   -------- ------------------------------- 0.3/1.4 MB 9.6 MB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.4 MB 7.4 MB/s eta 0:00:01
   ----------------------- ---------------- 0.8/1.4 MB 6.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.4 MB 6.1 MB/s eta 0:00:01
   -------------------------------------- - 1.4/1.4 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 6.2 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.0

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: C:\Users\tengwei\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [143]:
from mlxtend.frequent_patterns import apriori, association_rules

freq_items = apriori(data, min_support=0.4, use_colnames=True)
freq_items

C:\Users\tengwei\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   support itemsets
0      0.4      (A)
1      0.4      (B)
2      0.8      (C)
3      0.6      (D)
4      0.5      (E)
5      0.5      (F)
6      0.4      (H)
7      0.4   (C, A)
8      0.6   (C, D)

In [144]:
rules = association_rules(freq_items, metric='confidence', min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(C),(A),0.8,0.4,0.4,0.50,1.25,0.08,1.2,1.000000
1,(A),(C),0.4,0.8,0.4,1.00,1.25,0.08,inf,0.333333
2,(C),(D),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.000000
3,(D),(C),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.500000

<h1> Task 2: Use 3 datasets to run Apriori algorithm with different min-support thresholds </h1>

<h2> 1. Grocery store dataset </h2>

In [82]:
df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
# Data CLeaning
df.fillna(0, inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [84]:
# Get the unique items in the dataset
unique_items = pd.unique(df.values.ravel('K'))
unique_items

array(['shrimp', 'burgers', 'chutney', 'turkey', 'mineral water',
       'low fat yogurt', 'whole wheat pasta', 'soup', 'frozen vegetables',
       'french fries', 'eggs', 'cookies', 'spaghetti', 'meatballs',
       'red wine', 'rice', 'parmesan cheese', 'ground beef',
       'sparkling water', 'herb & pepper', 'pickles', 'energy bar',
       'fresh tuna', 'escalope', 'avocado', 'tomato sauce',
       'clothes accessories', 'energy drink', 'chocolate',
       'grated cheese', 'yogurt cake', 'mint', 'asparagus', 'champagne',
       'ham', 'muffins', 'french wine', 'chicken', 'pasta', 'tomatoes',
       'pancakes', 'frozen smoothie', 'carrots', 'yams', 'shallot',
       'butter', 'light mayo', 'pepper', 'candy bars', 'cooking oil',
       'milk', 'green tea', 'bug spray', 'oil', 'olive oil', 'salmon',
       'cake', 'almonds', 'salt', 'strong cheese', 'hot dogs', 'pet food',
       'whole wheat rice', 'antioxydant juice', 'honey', 'sandwich',
       'salad', 'magazines', 'protein bar', 'mayonnaise', 'cider',
       'burger sauce', 'green grapes', 'vegetables mix', 'bramble',
       'nonfat milk', 'tomato juice', 'green beans', 'strawberries',
       'eggplant', 'mushroom cream sauce', 'gums', 'cereals', 'flax seed',
       'spinach', 'soda', 'dessert wine', 'corn', 'fresh bread',
       'brownies', 'fromage blanc', 'chocolate bread', 'mashed potato',
       'gluten free bar', 'cottage cheese', 'whole weat flour', 'chili',
       'barbecue sauce', 'light cream', 'mint green tea', 'black tea',
       'bacon', 'shampoo', 'blueberries', 'cauliflower',
       'extra dark chocolate', 'white wine', 'babies food', 'toothpaste',
       'melons', 'ketchup', 'cream', 'hand protein bar', 'body spray',
       'oatmeal', 0, 'zucchini', 'water spray', 'tea', 'napkins',
       ' asparagus'], dtype=object)

In [85]:
# Set the unique items as the column names
transactions_data = pd.DataFrame(columns=unique_items)
transactions_data.drop(columns= 0, inplace=True)
transactions_data

Empty DataFrame
Columns: [shrimp, burgers, chutney, turkey, mineral water, low fat yogurt, whole wheat pasta, soup, frozen vegetables, french fries, eggs, cookies, spaghetti, meatballs, red wine, rice, parmesan cheese, ground beef, sparkling water, herb & pepper, pickles, energy bar, fresh tuna, escalope, avocado, tomato sauce, clothes accessories, energy drink, chocolate, grated cheese, yogurt cake, mint, asparagus, champagne, ham, muffins, french wine, chicken, pasta, tomatoes, pancakes, frozen smoothie, carrots, yams, shallot, butter, light mayo, pepper, candy bars, cooking oil, milk, green tea, bug spray, oil, olive oil, salmon, cake, almonds, salt, strong cheese, hot dogs, pet food, whole wheat rice, antioxydant juice, honey, sandwich, salad, magazines, protein bar, mayonnaise, cider, burger sauce, green grapes, vegetables mix, bramble, nonfat milk, tomato juice, green beans, strawberries, eggplant, mushroom cream sauce, gums, cereals, flax seed, spinach, soda, dessert wine, corn, fresh bread, brownies, fromage blanc, chocolate bread, mashed potato, gluten free bar, cottage cheese, whole weat flour, chili, barbecue sauce, light cream, mint green tea, ...]
Index: []

[0 rows x 120 columns]

In [86]:
# Iterate through the supermarket dataset
# Each row is a transaction
# If the item is present in the transaction, set the value as 1

for i in range(0, len(df)):
    transaction = df.iloc[i, :].values
    # Remove the 0s from the transaction
    transaction = transaction[transaction != 0]

    # Set the value as 1 if the item is present in the transaction
    for item in transaction:
        transactions_data.at[i, item] = 1

In [87]:
transactions_data.head()

,shrimp,burgers,chutney,turkey,mineral water,low fat yogurt,whole wheat pasta,soup,frozen vegetables,french fries,...,ketchup,cream,hand protein bar,body spray,oatmeal,zucchini,water spray,tea,napkins,asparagus
0,1,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
transactions_data.fillna(0, inplace=True)
transactions_data.head()

,shrimp,burgers,chutney,turkey,mineral water,low fat yogurt,whole wheat pasta,soup,frozen vegetables,french fries,...,ketchup,cream,hand protein bar,body spray,oatmeal,zucchini,water spray,tea,napkins,asparagus
0,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
combined_freq_itemsets, rules = my_apriori(transactions_data, 100, 0.4)

{('shrimp',): 536, ('burgers',): 654, ('turkey',): 469, ('mineral water',): 1788, ('low fat yogurt',): 574, ('whole wheat pasta',): 221, ('soup',): 379, ('frozen vegetables',): 715, ('french fries',): 1282, ('eggs',): 1348, ('cookies',): 603, ('spaghetti',): 1306, ('meatballs',): 157, ('red wine',): 211, ('rice',): 141, ('parmesan cheese',): 149, ('ground beef',): 737, ('herb & pepper',): 371, ('energy bar',): 203, ('fresh tuna',): 167, ('escalope',): 595, ('avocado',): 250, ('tomato sauce',): 106, ('energy drink',): 200, ('chocolate',): 1229, ('grated cheese',): 393, ('yogurt cake',): 205, ('mint',): 131, ('champagne',): 351, ('ham',): 199, ('muffins',): 181, ('french wine',): 169, ('chicken',): 450, ('pasta',): 118, ('tomatoes',): 513, ('pancakes',): 713, ('frozen smoothie',): 475, ('carrots',): 115, ('butter',): 226, ('light mayo',): 204, ('pepper',): 199, ('cooking oil',): 383, ('milk',): 972, ('green tea',): 991, ('oil',): 173, ('olive oil',): 494, ('salmon',): 319, ('cake',): 608, ('almonds',): 153, ('hot dogs',): 243, ('whole wheat rice',): 439, ('honey',): 356, ('protein bar',): 139, ('vegetables mix',): 193, ('tomato juice',): 228, ('strawberries',): 160, ('mushroom cream sauce',): 143, ('gums',): 101, ('cereals',): 193, ('fresh bread',): 323, ('brownies',): 253, ('fromage blanc',): 102, ('cottage cheese',): 239, ('light cream',): 117, ('black tea',): 107, ('white wine',): 124}
{'shrimp': 536, 'burgers': 654, 'turkey': 469, 'mineral water': 1788, 'low fat yogurt': 574, 'whole wheat pasta': 221, 'soup': 379, 'frozen vegetables': 715, 'french fries': 1282, 'eggs': 1348, 'cookies': 603, 'spaghetti': 1306, 'meatballs': 157, 'red wine': 211, 'rice': 141, 'parmesan cheese': 149, 'ground beef': 737, 'herb & pepper': 371, 'energy bar': 203, 'fresh tuna': 167, 'escalope': 595, 'avocado': 250, 'tomato sauce': 106, 'energy drink': 200, 'chocolate': 1229, 'grated cheese': 393, 'yogurt cake': 205, 'mint': 131, 'champagne': 351, 'ham': 199, 'muffins': 181, 'french wine': 169, 'chicken': 450, 'pasta': 118, 'tomatoes': 513, 'pancakes': 713, 'frozen smoothie': 475, 'carrots': 115, 'butter': 226, 'light mayo': 204, 'pepper': 199, 'cooking oil': 383, 'milk': 972, 'green tea': 991, 'oil': 173, 'olive oil': 494, 'salmon': 319, 'cake': 608, 'almonds': 153, 'hot dogs': 243, 'whole wheat rice': 439, 'honey': 356, 'protein bar': 139, 'vegetables mix': 193, 'tomato juice': 228, 'strawberries': 160, 'mushroom cream sauce': 143, 'gums': 101, 'cereals': 193, 'fresh bread': 323, 'brownies': 253, 'fromage blanc': 102, 'cottage cheese': 239, 'light cream': 117, 'black tea': 107, 'white wine': 124}
{('shrimp',): 536, ('burgers',): 654, ('turkey',): 469, ('mineral water',): 1788, ('low fat yogurt',): 574, ('whole wheat pasta',): 221, ('soup',): 379, ('frozen vegetables',): 715, ('french fries',): 1282, ('eggs',): 1348, ('cookies',): 603, ('spaghetti',): 1306, ('meatballs',): 157, ('red wine',): 211, ('rice',): 141, ('parmesan cheese',): 149, ('ground beef',): 737, ('herb & pepper',): 371, ('energy bar',): 203, ('fresh tuna',): 167, ('escalope',): 595, ('avocado',): 250, ('tomato sauce',): 106, ('energy drink',): 200, ('chocolate',): 1229, ('grated cheese',): 393, ('yogurt cake',): 205, ('mint',): 131, ('champagne',): 351, ('ham',): 199, ('muffins',): 181, ('french wine',): 169, ('chicken',): 450, ('pasta',): 118, ('tomatoes',): 513, ('pancakes',): 713, ('frozen smoothie',): 475, ('carrots',): 115, ('butter',): 226, ('light mayo',): 204, ('pepper',): 199, ('cooking oil',): 383, ('milk',): 972, ('green tea',): 991, ('oil',): 173, ('olive oil',): 494, ('salmon',): 319, ('cake',): 608, ('almonds',): 153, ('hot dogs',): 243, ('whole wheat rice',): 439, ('honey',): 356, ('protein bar',): 139, ('vegetables mix',): 193, ('tomato juice',): 228, ('strawberries',): 160, ('mushroom cream sauce',): 143, ('gums',): 101, ('cereals',): 193, ('fresh bread',): 323, ('brownies',): 253, ('fromage blanc',): 102, ('cottage cheese',): 239, ('light cream',): 117, ('black tea',): 107, ('white wine',): 124}
k:  2
{('shrimp',): 536, ('burgers',): 654, ('turkey',): 469, ('mineral water',): 1788, ('low fat yogurt',): 574, ('whole wheat pasta',): 221, ('soup',): 379, ('frozen vegetables',): 715, ('french fries',): 1282, ('eggs',): 1348, ('cookies',): 603, ('spaghetti',): 1306, ('meatballs',): 157, ('red wine',): 211, ('rice',): 141, ('parmesan cheese',): 149, ('ground beef',): 737, ('herb & pepper',): 371, ('energy bar',): 203, ('fresh tuna',): 167, ('escalope',): 595, ('avocado',): 250, ('tomato sauce',): 106, ('energy drink',): 200, ('chocolate',): 1229, ('grated cheese',): 393, ('yogurt cake',): 205, ('mint',): 131, ('champagne',): 351, ('ham',): 199, ('muffins',): 181, ('french wine',): 169, ('chicken',): 450, ('pasta',): 118, ('tomatoes',): 513, ('pancakes',): 713, ('frozen smoothie',): 475, ('carrots',): 115, ('butter',): 226, ('light mayo',): 204, ('pepper',): 199, ('cooking oil',): 383, ('milk',): 972, ('green tea',): 991, ('oil',): 173, ('olive oil',): 494, ('salmon',): 319, ('cake',): 608, ('almonds',): 153, ('hot dogs',): 243, ('whole wheat rice',): 439, ('honey',): 356, ('protein bar',): 139, ('vegetables mix',): 193, ('tomato juice',): 228, ('strawberries',): 160, ('mushroom cream sauce',): 143, ('gums',): 101, ('cereals',): 193, ('fresh bread',): 323, ('brownies',): 253, ('fromage blanc',): 102, ('cottage cheese',): 239, ('light cream',): 117, ('black tea',): 107, ('white wine',): 124, ('shrimp', 'mineral water'): 177, ('shrimp', 'frozen vegetables'): 125, ('shrimp', 'eggs'): 106, ('shrimp', 'spaghetti'): 159, ('shrimp', 'chocolate'): 135, ('shrimp', 'milk'): 132, ('burgers', 'mineral water'): 183, ('burgers', 'french fries'): 165, ('burgers', 'eggs'): 216, ('burgers', 'spaghetti'): 161, ('burgers', 'chocolate'): 128, ('burgers', 'milk'): 134, ('burgers', 'green tea'): 131, ('turkey', 'mineral water'): 144, ('turkey', 'eggs'): 146, ('turkey', 'spaghetti'): 124, ('mineral water', 'low fat yogurt'): 180, ('mineral water', 'soup'): 173, ('mineral water', 'frozen vegetables'): 268, ('mineral water', 'french fries'): 253, ('mineral water', 'eggs'): 382, ('mineral water', 'spaghetti'): 448, ('mineral water', 'ground beef'): 307, ('mineral water', 'herb & pepper'): 128, ('mineral water', 'escalope'): 128, ('mineral water', 'chocolate'): 395, ('mineral water', 'grated cheese'): 131, ('mineral water', 'chicken'): 171, ('mineral water', 'tomatoes'): 183, ('mineral water', 'pancakes'): 253, ('mineral water', 'frozen smoothie'): 152, ('mineral water', 'cooking oil'): 151, ('mineral water', 'milk'): 360, ('mineral water', 'green tea'): 233, ('mineral water', 'olive oil'): 207, ('mineral water', 'salmon'): 128, ('mineral water', 'cake'): 206, ('mineral water', 'whole wheat rice'): 151, ('mineral water', 'honey'): 113, ('mineral water', 'fresh bread'): 100, ('low fat yogurt', 'french fries'): 100, ('low fat yogurt', 'eggs'): 126, ('low fat yogurt', 'spaghetti'): 114, ('low fat yogurt', 'chocolate'): 111, ('soup', 'spaghetti'): 107, ('soup', 'milk'): 114, ('frozen vegetables', 'french fries'): 143, ('frozen vegetables', 'eggs'): 163, ('frozen vegetables', 'spaghetti'): 209, ('frozen vegetables', 'ground beef'): 127, ('frozen vegetables', 'chocolate'): 172, ('frozen vegetables', 'tomatoes'): 121, ('frozen vegetables', 'pancakes'): 101, ('frozen vegetables', 'milk'): 177, ('frozen vegetables', 'green tea'): 108, ('french fries', 'eggs'): 273, ('french fries', 'cookies'): 100, ('french fries', 'spaghetti'): 207, ('french fries', 'ground beef'): 104, ('french fries', 'escalope'): 123, ('french fries', 'chocolate'): 258, ('french fries', 'pancakes'): 151, ('french fries', 'frozen smoothie'): 109, ('french fries', 'milk'): 178, ('french fries', 'green tea'): 214, ('french fries', 'cake'): 134, ('eggs', 'spaghetti'): 274, ('eggs', 'ground beef'): 150, ('eggs', 'chocolate'): 249, ('eggs', 'chicken'): 108, ('eggs', 'pancakes'): 163, ('eggs', 'milk'): 231, ('eggs', 'green tea'): 191, ('eggs', 'cake'): 143, ('spaghetti', 'ground beef'): 294, ('spaghetti', 'herb & pepper'): 122, ('spaghetti', 'escalope'): 105, ('spaghetti', 'chocolate'): 294, ('spaghetti', 'grated cheese'): 124, ('spaghetti', 'chicken'): 129, ('spaghetti', 'tomatoes'): 157, ('spaghetti', 'pancakes'): 189, ('spaghetti', 'frozen smoothie'): 117, ('spaghetti', 'cooking oil'): 119, ('spaghetti', 'milk'): 266, ('spaghetti', 'green tea'): 199, ('spaghetti', 'olive oil'): 172, ('spaghetti', 'salmon'): 101, ('spaghetti', 'cake'): 136, ('spaghetti', 'whole wheat rice'): 106, ('ground beef', 'herb & pepper'): 120, ('ground beef', 'chocolate'): 173, ('ground beef', 'pancakes'): 109, ('ground beef', 'milk'): 165, ('ground beef', 'green tea'): 111, ('ground beef', 'olive oil'): 106, ('escalope', 'chocolate'): 132, ('chocolate', 'chicken'): 110, ('chocolate', 'tomatoes'): 105, ('chocolate', 'pancakes'): 149, ('chocolate', 'frozen smoothie'): 112, ('chocolate', 'cooking oil'): 102, ('chocolate', 'milk'): 241, ('chocolate', 'green tea'): 176, ('chocolate', 'olive oil'): 123, ('chocolate', 'cake'): 102, ('chicken', 'milk'): 111, ('tomatoes', 'milk'): 105, ('pancakes', 'milk'): 124, ('pancakes', 'green tea'): 123, ('frozen smoothie', 'milk'): 107, ('milk', 'green tea'): 132, ('milk', 'olive oil'): 128, ('milk', 'cake'): 100, ('green tea', 'cake'): 106}
k:  3
{('shrimp',): 536, ('burgers',): 654, ('turkey',): 469, ('mineral water',): 1788, ('low fat yogurt',): 574, ('whole wheat pasta',): 221, ('soup',): 379, ('frozen vegetables',): 715, ('french fries',): 1282, ('eggs',): 1348, ('cookies',): 603, ('spaghetti',): 1306, ('meatballs',): 157, ('red wine',): 211, ('rice',): 141, ('parmesan cheese',): 149, ('ground beef',): 737, ('herb & pepper',): 371, ('energy bar',): 203, ('fresh tuna',): 167, ('escalope',): 595, ('avocado',): 250, ('tomato sauce',): 106, ('energy drink',): 200, ('chocolate',): 1229, ('grated cheese',): 393, ('yogurt cake',): 205, ('mint',): 131, ('champagne',): 351, ('ham',): 199, ('muffins',): 181, ('french wine',): 169, ('chicken',): 450, ('pasta',): 118, ('tomatoes',): 513, ('pancakes',): 713, ('frozen smoothie',): 475, ('carrots',): 115, ('butter',): 226, ('light mayo',): 204, ('pepper',): 199, ('cooking oil',): 383, ('milk',): 972, ('green tea',): 991, ('oil',): 173, ('olive oil',): 494, ('salmon',): 319, ('cake',): 608, ('almonds',): 153, ('hot dogs',): 243, ('whole wheat rice',): 439, ('honey',): 356, ('protein bar',): 139, ('vegetables mix',): 193, ('tomato juice',): 228, ('strawberries',): 160, ('mushroom cream sauce',): 143, ('gums',): 101, ('cereals',): 193, ('fresh bread',): 323, ('brownies',): 253, ('fromage blanc',): 102, ('cottage cheese',): 239, ('light cream',): 117, ('black tea',): 107, ('white wine',): 124, ('shrimp', 'mineral water'): 177, ('shrimp', 'frozen vegetables'): 125, ('shrimp', 'eggs'): 106, ('shrimp', 'spaghetti'): 159, ('shrimp', 'chocolate'): 135, ('shrimp', 'milk'): 132, ('burgers', 'mineral water'): 183, ('burgers', 'french fries'): 165, ('burgers', 'eggs'): 216, ('burgers', 'spaghetti'): 161, ('burgers', 'chocolate'): 128, ('burgers', 'milk'): 134, ('burgers', 'green tea'): 131, ('turkey', 'mineral water'): 144, ('turkey', 'eggs'): 146, ('turkey', 'spaghetti'): 124, ('mineral water', 'low fat yogurt'): 180, ('mineral water', 'soup'): 173, ('mineral water', 'frozen vegetables'): 268, ('mineral water', 'french fries'): 253, ('mineral water', 'eggs'): 382, ('mineral water', 'spaghetti'): 448, ('mineral water', 'ground beef'): 307, ('mineral water', 'herb & pepper'): 128, ('mineral water', 'escalope'): 128, ('mineral water', 'chocolate'): 395, ('mineral water', 'grated cheese'): 131, ('mineral water', 'chicken'): 171, ('mineral water', 'tomatoes'): 183, ('mineral water', 'pancakes'): 253, ('mineral water', 'frozen smoothie'): 152, ('mineral water', 'cooking oil'): 151, ('mineral water', 'milk'): 360, ('mineral water', 'green tea'): 233, ('mineral water', 'olive oil'): 207, ('mineral water', 'salmon'): 128, ('mineral water', 'cake'): 206, ('mineral water', 'whole wheat rice'): 151, ('mineral water', 'honey'): 113, ('mineral water', 'fresh bread'): 100, ('low fat yogurt', 'french fries'): 100, ('low fat yogurt', 'eggs'): 126, ('low fat yogurt', 'spaghetti'): 114, ('low fat yogurt', 'chocolate'): 111, ('soup', 'spaghetti'): 107, ('soup', 'milk'): 114, ('frozen vegetables', 'french fries'): 143, ('frozen vegetables', 'eggs'): 163, ('frozen vegetables', 'spaghetti'): 209, ('frozen vegetables', 'ground beef'): 127, ('frozen vegetables', 'chocolate'): 172, ('frozen vegetables', 'tomatoes'): 121, ('frozen vegetables', 'pancakes'): 101, ('frozen vegetables', 'milk'): 177, ('frozen vegetables', 'green tea'): 108, ('french fries', 'eggs'): 273, ('french fries', 'cookies'): 100, ('french fries', 'spaghetti'): 207, ('french fries', 'ground beef'): 104, ('french fries', 'escalope'): 123, ('french fries', 'chocolate'): 258, ('french fries', 'pancakes'): 151, ('french fries', 'frozen smoothie'): 109, ('french fries', 'milk'): 178, ('french fries', 'green tea'): 214, ('french fries', 'cake'): 134, ('eggs', 'spaghetti'): 274, ('eggs', 'ground beef'): 150, ('eggs', 'chocolate'): 249, ('eggs', 'chicken'): 108, ('eggs', 'pancakes'): 163, ('eggs', 'milk'): 231, ('eggs', 'green tea'): 191, ('eggs', 'cake'): 143, ('spaghetti', 'ground beef'): 294, ('spaghetti', 'herb & pepper'): 122, ('spaghetti', 'escalope'): 105, ('spaghetti', 'chocolate'): 294, ('spaghetti', 'grated cheese'): 124, ('spaghetti', 'chicken'): 129, ('spaghetti', 'tomatoes'): 157, ('spaghetti', 'pancakes'): 189, ('spaghetti', 'frozen smoothie'): 117, ('spaghetti', 'cooking oil'): 119, ('spaghetti', 'milk'): 266, ('spaghetti', 'green tea'): 199, ('spaghetti', 'olive oil'): 172, ('spaghetti', 'salmon'): 101, ('spaghetti', 'cake'): 136, ('spaghetti', 'whole wheat rice'): 106, ('ground beef', 'herb & pepper'): 120, ('ground beef', 'chocolate'): 173, ('ground beef', 'pancakes'): 109, ('ground beef', 'milk'): 165, ('ground beef', 'green tea'): 111, ('ground beef', 'olive oil'): 106, ('escalope', 'chocolate'): 132, ('chocolate', 'chicken'): 110, ('chocolate', 'tomatoes'): 105, ('chocolate', 'pancakes'): 149, ('chocolate', 'frozen smoothie'): 112, ('chocolate', 'cooking oil'): 102, ('chocolate', 'milk'): 241, ('chocolate', 'green tea'): 176, ('chocolate', 'olive oil'): 123, ('chocolate', 'cake'): 102, ('chicken', 'milk'): 111, ('tomatoes', 'milk'): 105, ('pancakes', 'milk'): 124, ('pancakes', 'green tea'): 123, ('frozen smoothie', 'milk'): 107, ('milk', 'green tea'): 132, ('milk', 'olive oil'): 128, ('milk', 'cake'): 100, ('green tea', 'cake'): 106, ('mineral water', 'eggs', 'spaghetti'): 107, ('mineral water', 'eggs', 'chocolate'): 101, ('mineral water', 'spaghetti', 'ground beef'): 128, ('mineral water', 'spaghetti', 'chocolate'): 119, ('mineral water', 'spaghetti', 'milk'): 118, ('mineral water', 'chocolate', 'milk'): 105}
k:  4
antecedent:  ('shrimp',) consequent:  ('mineral water',) confidence:  0.3302238805970149
antecedent:  ('mineral water',) consequent:  ('shrimp',) confidence:  0.09899328859060402
antecedent:  ('shrimp',) consequent:  ('frozen vegetables',) confidence:  0.2332089552238806
antecedent:  ('frozen vegetables',) consequent:  ('shrimp',) confidence:  0.17482517482517482
antecedent:  ('shrimp',) consequent:  ('eggs',) confidence:  0.19776119402985073
antecedent:  ('eggs',) consequent:  ('shrimp',) confidence:  0.07863501483679525
antecedent:  ('shrimp',) consequent:  ('spaghetti',) confidence:  0.2966417910447761
antecedent:  ('spaghetti',) consequent:  ('shrimp',) confidence:  0.1217457886676876
antecedent:  ('shrimp',) consequent:  ('chocolate',) confidence:  0.251865671641791
antecedent:  ('chocolate',) consequent:  ('shrimp',) confidence:  0.10984540276647681
antecedent:  ('shrimp',) consequent:  ('milk',) confidence:  0.2462686567164179
antecedent:  ('milk',) consequent:  ('shrimp',) confidence:  0.13580246913580246
antecedent:  ('burgers',) consequent:  ('mineral water',) confidence:  0.2798165137614679
antecedent:  ('mineral water',) consequent:  ('burgers',) confidence:  0.10234899328859061
antecedent:  ('burgers',) consequent:  ('french fries',) confidence:  0.25229357798165136
antecedent:  ('french fries',) consequent:  ('burgers',) confidence:  0.12870514820592824
antecedent:  ('burgers',) consequent:  ('eggs',) confidence:  0.3302752293577982
antecedent:  ('eggs',) consequent:  ('burgers',) confidence:  0.16023738872403562
antecedent:  ('burgers',) consequent:  ('spaghetti',) confidence:  0.24617737003058104
antecedent:  ('spaghetti',) consequent:  ('burgers',) confidence:  0.12327718223583461
antecedent:  ('burgers',) consequent:  ('chocolate',) confidence:  0.19571865443425077
antecedent:  ('chocolate',) consequent:  ('burgers',) confidence:  0.10414971521562245
antecedent:  ('burgers',) consequent:  ('milk',) confidence:  0.20489296636085627
antecedent:  ('milk',) consequent:  ('burgers',) confidence:  0.13786008230452676
antecedent:  ('burgers',) consequent:  ('green tea',) confidence:  0.20030581039755352
antecedent:  ('green tea',) consequent:  ('burgers',) confidence:  0.13218970736629668
antecedent:  ('turkey',) consequent:  ('mineral water',) confidence:  0.3070362473347548
antecedent:  ('mineral water',) consequent:  ('turkey',) confidence:  0.08053691275167785
antecedent:  ('turkey',) consequent:  ('eggs',) confidence:  0.31130063965884863
antecedent:  ('eggs',) consequent:  ('turkey',) confidence:  0.1083086053412463
antecedent:  ('turkey',) consequent:  ('spaghetti',) confidence:  0.26439232409381663
antecedent:  ('spaghetti',) consequent:  ('turkey',) confidence:  0.09494640122511486
antecedent:  ('mineral water',) consequent:  ('low fat yogurt',) confidence:  0.10067114093959731
antecedent:  ('low fat yogurt',) consequent:  ('mineral water',) confidence:  0.313588850174216
antecedent:  ('mineral water',) consequent:  ('soup',) confidence:  0.09675615212527965
antecedent:  ('soup',) consequent:  ('mineral water',) confidence:  0.45646437994722955
antecedent:  ('mineral water',) consequent:  ('frozen vegetables',) confidence:  0.14988814317673377
antecedent:  ('frozen vegetables',) consequent:  ('mineral water',) confidence:  0.3748251748251748
antecedent:  ('mineral water',) consequent:  ('french fries',) confidence:  0.14149888143176734
antecedent:  ('french fries',) consequent:  ('mineral water',) confidence:  0.19734789391575663
antecedent:  ('mineral water',) consequent:  ('eggs',) confidence:  0.21364653243847875
antecedent:  ('eggs',) consequent:  ('mineral water',) confidence:  0.28338278931750743
antecedent:  ('mineral water',) consequent:  ('spaghetti',) confidence:  0.2505592841163311
antecedent:  ('spaghetti',) consequent:  ('mineral water',) confidence:  0.3430321592649311
antecedent:  ('mineral water',) consequent:  ('ground beef',) confidence:  0.17170022371364654
antecedent:  ('ground beef',) consequent:  ('mineral water',) confidence:  0.41655359565807326
antecedent:  ('mineral water',) consequent:  ('herb & pepper',) confidence:  0.07158836689038031
antecedent:  ('herb & pepper',) consequent:  ('mineral water',) confidence:  0.3450134770889488
antecedent:  ('mineral water',) consequent:  ('escalope',) confidence:  0.07158836689038031
antecedent:  ('escalope',) consequent:  ('mineral water',) confidence:  0.21512605042016808
antecedent:  ('mineral water',) consequent:  ('chocolate',) confidence:  0.220917225950783
antecedent:  ('chocolate',) consequent:  ('mineral water',) confidence:  0.3213995117982099
antecedent:  ('mineral water',) consequent:  ('grated cheese',) confidence:  0.0732662192393736
antecedent:  ('grated cheese',) consequent:  ('mineral water',) confidence:  0.3333333333333333
antecedent:  ('mineral water',) consequent:  ('chicken',) confidence:  0.09563758389261745
antecedent:  ('chicken',) consequent:  ('mineral water',) confidence:  0.38
antecedent:  ('mineral water',) consequent:  ('tomatoes',) confidence:  0.10234899328859061

In [183]:
print('combined frequent itemsets: ', combined_freq_itemsets)

combined frequent itemsets:  {('shrimp',): 536, ('burgers',): 654, ('turkey',): 469, ('mineral water',): 1788, ('low fat yogurt',): 574, ('whole wheat pasta',): 221, ('soup',): 379, ('frozen vegetables',): 715, ('french fries',): 1282, ('eggs',): 1348, ('cookies',): 603, ('spaghetti',): 1306, ('meatballs',): 157, ('red wine',): 211, ('rice',): 141, ('parmesan cheese',): 149, ('ground beef',): 737, ('herb & pepper',): 371, ('energy bar',): 203, ('fresh tuna',): 167, ('escalope',): 595, ('avocado',): 250, ('tomato sauce',): 106, ('energy drink',): 200, ('chocolate',): 1229, ('grated cheese',): 393, ('yogurt cake',): 205, ('mint',): 131, ('champagne',): 351, ('ham',): 199, ('muffins',): 181, ('french wine',): 169, ('chicken',): 450, ('pasta',): 118, ('tomatoes',): 513, ('pancakes',): 713, ('frozen smoothie',): 475, ('carrots',): 115, ('butter',): 226, ('light mayo',): 204, ('pepper',): 199, ('cooking oil',): 383, ('milk',): 972, ('green tea',): 991, ('oil',): 173, ('olive oil',): 494, ('salmon',): 319, ('cake',): 608, ('almonds',): 153, ('hot dogs',): 243, ('whole wheat rice',): 439, ('honey',): 356, ('protein bar',): 139, ('vegetables mix',): 193, ('tomato juice',): 228, ('strawberries',): 160, ('mushroom cream sauce',): 143, ('gums',): 101, ('cereals',): 193, ('fresh bread',): 323, ('brownies',): 253, ('fromage blanc',): 102, ('cottage cheese',): 239, ('light cream',): 117, ('black tea',): 107, ('white wine',): 124, ('shrimp', 'mineral water'): 177, ('shrimp', 'frozen vegetables'): 125, ('shrimp', 'eggs'): 106, ('shrimp', 'spaghetti'): 159, ('shrimp', 'chocolate'): 135, ('shrimp', 'milk'): 132, ('burgers', 'mineral water'): 183, ('burgers', 'french fries'): 165, ('burgers', 'eggs'): 216, ('burgers', 'spaghetti'): 161, ('burgers', 'chocolate'): 128, ('burgers', 'milk'): 134, ('burgers', 'green tea'): 131, ('turkey', 'mineral water'): 144, ('turkey', 'eggs'): 146, ('turkey', 'spaghetti'): 124, ('mineral water', 'low fat yogurt'): 180, ('mineral water', 'soup'): 173, ('mineral water', 'frozen vegetables'): 268, ('mineral water', 'french fries'): 253, ('mineral water', 'eggs'): 382, ('mineral water', 'spaghetti'): 448, ('mineral water', 'ground beef'): 307, ('mineral water', 'herb & pepper'): 128, ('mineral water', 'escalope'): 128, ('mineral water', 'chocolate'): 395, ('mineral water', 'grated cheese'): 131, ('mineral water', 'chicken'): 171, ('mineral water', 'tomatoes'): 183, ('mineral water', 'pancakes'): 253, ('mineral water', 'frozen smoothie'): 152, ('mineral water', 'cooking oil'): 151, ('mineral water', 'milk'): 360, ('mineral water', 'green tea'): 233, ('mineral water', 'olive oil'): 207, ('mineral water', 'salmon'): 128, ('mineral water', 'cake'): 206, ('mineral water', 'whole wheat rice'): 151, ('mineral water', 'honey'): 113, ('mineral water', 'fresh bread'): 100, ('low fat yogurt', 'french fries'): 100, ('low fat yogurt', 'eggs'): 126, ('low fat yogurt', 'spaghetti'): 114, ('low fat yogurt', 'chocolate'): 111, ('soup', 'spaghetti'): 107, ('soup', 'milk'): 114, ('frozen vegetables', 'french fries'): 143, ('frozen vegetables', 'eggs'): 163, ('frozen vegetables', 'spaghetti'): 209, ('frozen vegetables', 'ground beef'): 127, ('frozen vegetables', 'chocolate'): 172, ('frozen vegetables', 'tomatoes'): 121, ('frozen vegetables', 'pancakes'): 101, ('frozen vegetables', 'milk'): 177, ('frozen vegetables', 'green tea'): 108, ('french fries', 'eggs'): 273, ('french fries', 'cookies'): 100, ('french fries', 'spaghetti'): 207, ('french fries', 'ground beef'): 104, ('french fries', 'escalope'): 123, ('french fries', 'chocolate'): 258, ('french fries', 'pancakes'): 151, ('french fries', 'frozen smoothie'): 109, ('french fries', 'milk'): 178, ('french fries', 'green tea'): 214, ('french fries', 'cake'): 134, ('eggs', 'spaghetti'): 274, ('eggs', 'ground beef'): 150, ('eggs', 'chocolate'): 249, ('eggs', 'chicken'): 108, ('eggs', 'pancakes'): 163, ('eggs', 'milk'): 231, ('eggs', 'green tea'): 191, ('eggs', 'cake'): 143, ('spaghetti', 'ground beef'): 294, ('spaghetti', 'herb & pepper'): 122, ('spaghetti', 'escalope'): 105, ('spaghetti', 'chocolate'): 294, ('spaghetti', 'grated cheese'): 124, ('spaghetti', 'chicken'): 129, ('spaghetti', 'tomatoes'): 157, ('spaghetti', 'pancakes'): 189, ('spaghetti', 'frozen smoothie'): 117, ('spaghetti', 'cooking oil'): 119, ('spaghetti', 'milk'): 266, ('spaghetti', 'green tea'): 199, ('spaghetti', 'olive oil'): 172, ('spaghetti', 'salmon'): 101, ('spaghetti', 'cake'): 136, ('spaghetti', 'whole wheat rice'): 106, ('ground beef', 'herb & pepper'): 120, ('ground beef', 'chocolate'): 173, ('ground beef', 'pancakes'): 109, ('ground beef', 'milk'): 165, ('ground beef', 'green tea'): 111, ('ground beef', 'olive oil'): 106, ('escalope', 'chocolate'): 132, ('chocolate', 'chicken'): 110, ('chocolate', 'tomatoes'): 105, ('chocolate', 'pancakes'): 149, ('chocolate', 'frozen smoothie'): 112, ('chocolate', 'cooking oil'): 102, ('chocolate', 'milk'): 241, ('chocolate', 'green tea'): 176, ('chocolate', 'olive oil'): 123, ('chocolate', 'cake'): 102, ('chicken', 'milk'): 111, ('tomatoes', 'milk'): 105, ('pancakes', 'milk'): 124, ('pancakes', 'green tea'): 123, ('frozen smoothie', 'milk'): 107, ('milk', 'green tea'): 132, ('milk', 'olive oil'): 128, ('milk', 'cake'): 100, ('green tea', 'cake'): 106, ('mineral water', 'eggs', 'spaghetti'): 107, ('mineral water', 'eggs', 'chocolate'): 101, ('mineral water', 'spaghetti', 'ground beef'): 128, ('mineral water', 'spaghetti', 'chocolate'): 119, ('mineral water', 'spaghetti', 'milk'): 118, ('mineral water', 'chocolate', 'milk'): 105}

In [188]:
index = 1
for key, item in rules.items():
    for i in range(1, len(key)):
        antecedent = key[:i]
        consequent = key[i:]
        print('Rule ', index, ': antecedent -> consequent: ', list(sum(antecedent, ())), '-> ', list(sum(consequent, ())), 'confidence: ', item)
        index += 1

Rule  1 : antecedent -> consequent:  ['soup'] ->  ['mineral water'] confidence:  0.45646437994722955
Rule  2 : antecedent -> consequent:  ['ground beef'] ->  ['mineral water'] confidence:  0.41655359565807326
Rule  3 : antecedent -> consequent:  ['olive oil'] ->  ['mineral water'] confidence:  0.4190283400809717
Rule  4 : antecedent -> consequent:  ['salmon'] ->  ['mineral water'] confidence:  0.4012539184952978
Rule  5 : antecedent -> consequent:  ['eggs', 'chocolate'] ->  ['mineral water'] confidence:  0.40562248995983935
Rule  6 : antecedent -> consequent:  ['mineral water', 'ground beef'] ->  ['spaghetti'] confidence:  0.4169381107491857
Rule  7 : antecedent -> consequent:  ['spaghetti', 'ground beef'] ->  ['mineral water'] confidence:  0.43537414965986393
Rule  8 : antecedent -> consequent:  ['spaghetti', 'chocolate'] ->  ['mineral water'] confidence:  0.40476190476190477
Rule  9 : antecedent -> consequent:  ['spaghetti', 'milk'] ->  ['mineral water'] confidence:  0.44360902255639095
Rule  10 : antecedent -> consequent:  ['chocolate', 'milk'] ->  ['mineral water'] confidence:  0.43568464730290457

<h3> Verify with official Apriori library </h3>

In [96]:
transactions_data.shape

(7501, 120)

In [173]:
freq_items = apriori(transactions_data, min_support=0.0133, use_colnames=True)
freq_items

C:\Users\tengwei\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                 itemsets
0    0.071457                                 (shrimp)
1    0.087188                                (burgers)
2    0.062525                                 (turkey)
3    0.238368                          (mineral water)
4    0.076523                         (low fat yogurt)
..        ...                                      ...
182  0.013465         (eggs, mineral water, chocolate)
183  0.017064  (ground beef, spaghetti, mineral water)
184  0.015865    (spaghetti, mineral water, chocolate)
185  0.015731         (spaghetti, mineral water, milk)
186  0.013998         (chocolate, mineral water, milk)

[187 rows x 2 columns]

In [174]:
rules = association_rules(freq_items, metric='confidence', min_threshold=0.4)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(soup),(mineral water),0.050527,0.238368,0.023064,0.456464,1.914955,0.011020,1.401255,0.503221
1,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401,0.474369
2,(olive oil),(mineral water),0.065858,0.238368,0.027596,0.419028,1.757904,0.011898,1.310962,0.461536
3,(salmon),(mineral water),0.042528,0.238368,0.017064,0.401254,1.683336,0.006927,1.272045,0.423972
4,"(eggs, chocolate)",(mineral water),0.033196,0.238368,0.013465,0.405622,1.701663,0.005552,1.281394,0.426498
5,"(ground beef, spaghetti)",(mineral water),0.039195,0.238368,0.017064,0.435374,1.826477,0.007722,1.348914,0.470957
6,"(ground beef, mineral water)",(spaghetti),0.040928,0.174110,0.017064,0.416938,2.394681,0.009938,1.416470,0.607262
7,"(spaghetti, chocolate)",(mineral water),0.039195,0.238368,0.015865,0.404762,1.698053,0.006522,1.279541,0.427860
8,"(spaghetti, milk)",(mineral water),0.035462,0.238368,0.015731,0.443609,1.861024,0.007278,1.368879,0.479672
9,"(milk, chocolate)",(mineral water),0.032129,0.238368,0.013998,0.435685,1.827780,0.006340,1.349656,0.467922

<h2> 2. Titanic dataset </h2>

In [23]:
survival_df = pd.read_csv('titanic/gender_submission.csv')
survival_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [24]:
train_titanic_df = pd.read_csv('titanic/train.csv')
test_titanic_df = pd.read_csv('titanic/test.csv')

In [25]:
train_titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
# Drop the columns that are not required
train_titanic_df.drop(columns=['PassengerId', 'Name','SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin'], inplace=True)
train_titanic_df.head()

   Survived  Pclass     Sex   Age Embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C
2         1       3  female  26.0        S
3         1       1  female  35.0        S
4         0       3    male  35.0        S

In [29]:
# Categorise the Age column
# Age 21 and below is a Child
# Age between 21 and 55 is an Adult
# Age above 55 is an Elderly
train_titanic_df['Age'] = pd.cut(train_titanic_df['Age'], bins=[0, 21, 55, 80], labels=['Child', 'Adult', 'Elderly'])
train_titanic_df.head()

   Survived  Pclass     Sex    Age Embarked
0         0       3    male  Adult        S
1         1       1  female  Adult        C
2         1       3  female  Adult        S
3         1       1  female  Adult        S
4         0       3    male  Adult        S

In [30]:
# Convert into one hot encoding
train_titanic_df = pd.get_dummies(train_titanic_df)
train_titanic_df.head()

,Survived,Pclass,Sex_female,Sex_male,Age_Child,Age_Adult,Age_Elderly,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,1,0,1,0,0,0,1
1,1,1,1,0,0,1,0,1,0,0
2,1,3,1,0,0,1,0,0,0,1
3,1,1,1,0,0,1,0,0,0,1
4,0,3,0,1,0,1,0,0,0,1

In [31]:
# Converet Pclass into one hot encoding
train_titanic_df = pd.get_dummies(train_titanic_df, columns=['Pclass'])
train_titanic_df.head()

,Survived,Sex_female,Sex_male,Age_Child,Age_Adult,Age_Elderly,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,0,0,1,0,1,0,0,0,1,0,0,1
1,1,1,0,0,1,0,1,0,0,1,0,0
2,1,1,0,0,1,0,0,0,1,0,0,1
3,1,1,0,0,1,0,0,0,1,1,0,0
4,0,0,1,0,1,0,0,0,1,0,0,1

In [45]:
train_titanic_df.groupby(['Sex_male', 'Sex_female', 'Survived']).size().reset_index(name='count')

   Sex_male  Sex_female  Survived  count
0         0           1         0     81
1         0           1         1    233
2         1           0         0    468
3         1           0         1    109

In [49]:
len(train_titanic_df.columns)

12

In [60]:
# Run the apriori algorithm
combined_freq_itemsets, rules = my_apriori(train_titanic_df, 30, 0.4)

{('Survived',): 342, ('Sex_female',): 314, ('Sex_male',): 577, ('Age_Child',): 204, ('Age_Adult',): 470, ('Age_Elderly',): 40, ('Embarked_C',): 168, ('Embarked_Q',): 77, ('Embarked_S',): 644, ('Pclass_1',): 216, ('Pclass_2',): 184, ('Pclass_3',): 491}
{'Survived': 342, 'Sex_female': 314, 'Sex_male': 577, 'Age_Child': 204, 'Age_Adult': 470, 'Age_Elderly': 40, 'Embarked_C': 168, 'Embarked_Q': 77, 'Embarked_S': 644, 'Pclass_1': 216, 'Pclass_2': 184, 'Pclass_3': 491}
{('Survived',): 342, ('Sex_female',): 314, ('Sex_male',): 577, ('Age_Child',): 204, ('Age_Adult',): 470, ('Age_Elderly',): 40, ('Embarked_C',): 168, ('Embarked_Q',): 77, ('Embarked_S',): 644, ('Pclass_1',): 216, ('Pclass_2',): 184, ('Pclass_3',): 491}
   Survived  Sex_female  count
0         0           0    468
1         0           1     81
2         1           0    109
3         1           1    233 3
   Survived  Sex_male  count
0         0         0     81
1         0         1    468
2         1         0    233
3         1         1    109 3
   Survived  Age_Child  count
0         0          0    432
1         0          1    117
2         1          0    255
3         1          1     87 3
   Survived  Age_Adult  count
0         0          0    270
1         0          1    279
2         1          0    151
3         1          1    191 3
   Survived  Age_Elderly  count
0         0            0    521
1         0            1     28
2         1            0    330
3         1            1     12 3
   Survived  Embarked_C  count
0         0           0    474
1         0           1     75
2         1           0    249
3         1           1     93 3
   Survived  Embarked_Q  count
0         0           0    502
1         0           1     47
2         1           0    312
3         1           1     30 3
   Survived  Embarked_S  count
0         0           0    122
1         0           1    427
2         1           0    125
3         1           1    217 3
   Survived  Pclass_1  count
0         0         0    469
1         0         1     80
2         1         0    206
3         1         1    136 3
   Survived  Pclass_2  count
0         0         0    452
1         0         1     97
2         1         0    255
3         1         1     87 3
   Survived  Pclass_3  count
0         0         0    177
1         0         1    372
2         1         0    223
3         1         1    119 3
   Sex_female  Sex_male  count
0           0         1    577
1           1         0    314 3
   Sex_female  Age_Child  count
0           0          0    457
1           0          1    120
2           1          0    230
3           1          1     84 3
   Sex_female  Age_Adult  count
0           0          0    275
1           0          1    302
2           1          0    146
3           1          1    168 3
   Sex_female  Age_Elderly  count
0           0            0    546
1           0            1     31
2           1            0    305
3           1            1      9 3
   Sex_female  Embarked_C  count
0           0           0    482
1           0           1     95
2           1           0    241
3           1           1     73 3
   Sex_female  Embarked_Q  count
0           0           0    536
1           0           1     41
2           1           0    278
3           1           1     36 3
   Sex_female  Embarked_S  count
0           0           0    136
1           0           1    441
2           1           0    111
3           1           1    203 3
   Sex_female  Pclass_1  count
0           0         0    455
1           0         1    122
2           1         0    220
3           1         1     94 3
   Sex_female  Pclass_2  count
0           0         0    469
1           0         1    108
2           1         0    238
3           1         1     76 3
   Sex_female  Pclass_3  count
0           0         0    230
1           0         1    347
2           1         0    170
3           1         1    144 3
   Sex_male  Age_Child  count
0         0          0    230
1         0          1     84
2         1          0    457
3         1          1    120 3
   Sex_male  Age_Adult  count
0         0          0    146
1         0          1    168
2         1          0    275
3         1          1    302 3
   Sex_male  Age_Elderly  count
0         0            0    305
1         0            1      9
2         1            0    546
3         1            1     31 3
   Sex_male  Embarked_C  count
0         0           0    241
1         0           1     73
2         1           0    482
3         1           1     95 3
   Sex_male  Embarked_Q  count
0         0           0    278
1         0           1     36
2         1           0    536
3         1           1     41 3
   Sex_male  Embarked_S  count
0         0           0    111
1         0           1    203
2         1           0    136
3         1           1    441 3
   Sex_male  Pclass_1  count
0         0         0    220
1         0         1     94
2         1         0    455
3         1         1    122 3
   Sex_male  Pclass_2  count
0         0         0    238
1         0         1     76
2         1         0    469
3         1         1    108 3
   Sex_male  Pclass_3  count
0         0         0    170
1         0         1    144
2         1         0    230
3         1         1    347 3
   Age_Child  Age_Adult  count
0          0          0    217
1          0          1    470
2          1          0    204 3
   Age_Child  Age_Elderly  count
0          0            0    647
1          0            1     40
2          1            0    204 3
   Age_Child  Embarked_C  count
0          0           0    552
1          0           1    135
2          1           0    171
3          1           1     33 3
   Age_Child  Embarked_Q  count
0          0           0    622
1          0           1     65
2          1           0    192
3          1           1     12 3
   Age_Child  Embarked_S  count
0          0           0    202
1          0           1    485
2          1           0     45
3          1           1    159 3
   Age_Child  Pclass_1  count
0          0         0    495
1          0         1    192
2          1         0    180
3          1         1     24 3
   Age_Child  Pclass_2  count
0          0         0    542
1          0         1    145
2          1         0    165
3          1         1     39 3
   Age_Child  Pclass_3  count
0          0         0    337
1          0         1    350
2          1         0     63
3          1         1    141 3
   Age_Adult  Age_Elderly  count
0          0            0    381
1          0            1     40
2          1            0    470 3
   Age_Adult  Embarked_C  count
0          0           0    339
1          0           1     82
2          1           0    384
3          1           1     86 3
   Age_Adult  Embarked_Q  count
0          0           0    357
1          0           1     64
2          1           0    457
3          1           1     13 3
   Age_Adult  Embarked_S  count
0          0           0    147
1          0           1    274
2          1           0    100
3          1           1    370 3
   Age_Adult  Pclass_1  count
0          0         0    341
1          0         1     80
2          1         0    334
3          1         1    136 3
   Age_Adult  Pclass_2  count
0          0         0    364
1          0         1     57
2          1         0    343
3          1         1    127 3
   Age_Adult  Pclass_3  count
0          0         0    137
1          0         1    284
2          1         0    263
3          1         1    207 3
   Age_Elderly  Embarked_C  count
0            0           0    694
1            0           1    157
2            1           0     29
3            1           1     11 3
   Age_Elderly  Embarked_Q  count
0            0           0    777
1            0           1     74
2            1           0     37
3            1           1      3 3
   Age_Elderly  Embarked_S  count
0            0           0    232
1            0           1    619
2            1           0     15
3            1           1     25 3
   Age_Elderly  Pclass_1  count
0            0         0    661
1            0         1    190
2            1         0     14
3            1         1     26 3
   Age_Elderly  Pclass_2  count
0            0         0    674
1            0         1    177
2            1         0     33
3            1         1      7 3
   Age_Elderly  Pclass_3  count
0            0         0    367
1            0         1    484
2            1         0     33
3            1         1      7 3
   Embarked_C  Embarked_Q  count
0           0           0    646
1           0           1     77
2           1           0    168 3
   Embarked_C  Embarked_S  count
0           0           0     79
1           0           1    644
2           1           0    168 3
   Embarked_C  Pclass_1  count
0           0         0    592
1           0         1    131
2           1         0     83
3           1         1     85 3
   Embarked_C  Pclass_2  count
0           0         0    556
1           0         1    167
2           1         0    151
3           1         1     17 3
   Embarked_C  Pclass_3  count
0           0         0    298
1           0         1    425
2           1         0    102
3           1         1     66 3
   Embarked_Q  Embarked_S  count
0           0           0    170
1           0           1    644
2           1           0     77 3
   Embarked_Q  Pclass_1  count
0           0         0    600
1           0         1    214
2           1         0     75
3           1         1      2 3
   Embarked_Q  Pclass_2  count
0           0         0    633
1           0         1    181
2           1         0     74
3           1         1      3 3
   Embarked_Q  Pclass_3  count
0           0         0    395
1           0         1    419
2           1         0      5
3           1         1     72 3
   Embarked_S  Pclass_1  count
0           0         0    158
1           0         1     89
2           1         0    517
3           1         1    127 3
   Embarked_S  Pclass_2  count
0           0         0    227
1           0         1     20
2           1         0    480
3           1         1    164 3
   Embarked_S  Pclass_3  count
0           0         0    109
1           0         1    138
2           1         0    291
3           1         1    353 3
   Pclass_1  Pclass_2  count
0         0         0    491
1         0         1    184
2         1         0    216 3
   Pclass_1  Pclass_3  count
0         0         0    184
1         0         1    491
2         1         0    216 3
   Pclass_2  Pclass_3  count
0         0         0    216
1         0         1    491
2         1         0    184 3
k:  2
{('Survived',): 342, ('Sex_female',): 314, ('Sex_male',): 577, ('Age_Child',): 204, ('Age_Adult',): 470, ('Age_Elderly',): 40, ('Embarked_C',): 168, ('Embarked_Q',): 77, ('Embarked_S',): 644, ('Pclass_1',): 216, ('Pclass_2',): 184, ('Pclass_3',): 491, ('Survived', 'Sex_female'): 233, ('Survived', 'Sex_male'): 109, ('Survived', 'Age_Child'): 87, ('Survived', 'Age_Adult'): 191, ('Survived', 'Embarked_C'): 93, ('Survived', 'Embarked_Q'): 30, ('Survived', 'Embarked_S'): 217, ('Survived', 'Pclass_1'): 136, ('Survived', 'Pclass_2'): 87, ('Survived', 'Pclass_3'): 119, ('Sex_female', 'Age_Child'): 84, ('Sex_female', 'Age_Adult'): 168, ('Sex_female', 'Embarked_C'): 73, ('Sex_female', 'Embarked_Q'): 36, ('Sex_female', 'Embarked_S'): 203, ('Sex_female', 'Pclass_1'): 94, ('Sex_female', 'Pclass_2'): 76, ('Sex_female', 'Pclass_3'): 144, ('Sex_male', 'Age_Child'): 120, ('Sex_male', 'Age_Adult'): 302, ('Sex_male', 'Age_Elderly'): 31, ('Sex_male', 'Embarked_C'): 95, ('Sex_male', 'Embarked_Q'): 41, ('Sex_male', 'Embarked_S'): 441, ('Sex_male', 'Pclass_1'): 122, ('Sex_male', 'Pclass_2'): 108, ('Sex_male', 'Pclass_3'): 347, ('Age_Child', 'Embarked_C'): 33, ('Age_Child', 'Embarked_S'): 159, ('Age_Child', 'Pclass_2'): 39, ('Age_Child', 'Pclass_3'): 141, ('Age_Adult', 'Embarked_C'): 86, ('Age_Adult', 'Embarked_S'): 370, ('Age_Adult', 'Pclass_1'): 136, ('Age_Adult', 'Pclass_2'): 127, ('Age_Adult', 'Pclass_3'): 207, ('Embarked_C', 'Pclass_1'): 85, ('Embarked_C', 'Pclass_3'): 66, ('Embarked_Q', 'Pclass_3'): 72, ('Embarked_S', 'Pclass_1'): 127, ('Embarked_S', 'Pclass_2'): 164, ('Embarked_S', 'Pclass_3'): 353}
   Survived  Sex_female  Sex_male  count
0         0           0         1    468
1         0           1         0     81
2         1           0         1    109
3         1           1         0    233 4
   Survived  Sex_female  Age_Child  count
0         0           0          0    378
1         0           0          1     90
2         0           1          0     54
3         0           1          1     27
4         1           0          0     79
5         1           0          1     30
6         1           1          0    176
7         1           1          1     57 4
   Survived  Sex_female  Age_Adult  count
0         0           0          0    225
1         0           0          1    243
2         0           1          0     45
3         0           1          1     36
4         1           0          0     50
5         1           0          1     59
6         1           1          0    101
7         1           1          1    132 4
   Survived  Sex_female  Embarked_C  count
0         0           0           0    402
1         0           0           1     66
2         0           1           0     72
3         0           1           1      9
4         1           0           0     80
5         1           0           1     29
6         1           1           0    169
7         1           1           1     64 4
   Survived  Sex_female  Embarked_Q  count
0         0           0           0    430
1         0           0           1     38
2         0           1           0     72
3         0           1           1      9
4         1           0           0    106
5         1           0           1      3
6         1           1           0    206
7         1           1           1     27 4
   Survived  Sex_female  Embarked_S  count
0         0           0           0    104
1         0           0           1    364
2         0           1           0     18
3         0           1           1     63
4         1           0           0     32
5         1           0           1     77
6         1           1           0     93
7         1           1           1    140 4
   Survived  Sex_female  Pclass_1  count
0         0           0         0    391
1         0           0         1     77
2         0           1         0     78
3         0           1         1      3
4         1           0         0     64
5         1           0         1     45
6         1           1         0    142
7         1           1         1     91 4
   Survived  Sex_female  Pclass_2  count
0         0           0         0    377
1         0           0         1     91
2         0           1         0     75
3         0           1         1      6
4         1           0         0     92
5         1           0         1     17
6         1           1         0    163
7         1           1         1     70 4
   Survived  Sex_female  Pclass_3  count
0         0           0         0    168
1         0           0         1    300
2         0           1         0      9
3         0           1         1     72
4         1           0         0     62
5         1           0         1     47
6         1           1         0    161
7         1           1         1     72 4
   Survived  Sex_male  Age_Child  count
0         0         0          0     54
1         0         0          1     27
2         0         1          0    378
3         0         1          1     90
4         1         0          0    176
5         1         0          1     57
6         1         1          0     79
7         1         1          1     30 4
   Survived  Sex_male  Age_Adult  count
0         0         0          0     45
1         0         0          1     36
2         0         1          0    225
3         0         1          1    243
4         1         0          0    101
5         1         0          1    132
6         1         1          0     50
7         1         1          1     59 4
   Survived  Sex_male  Embarked_C  count
0         0         0           0     72
1         0         0           1      9
2         0         1           0    402
3         0         1           1     66
4         1         0           0    169
5         1         0           1     64
6         1         1           0     80
7         1         1           1     29 4
   Survived  Sex_male  Embarked_Q  count
0         0         0           0     72
1         0         0           1      9
2         0         1           0    430
3         0         1           1     38
4         1         0           0    206
5         1         0           1     27
6         1         1           0    106
7         1         1           1      3 4
   Survived  Sex_male  Embarked_S  count
0         0         0           0     18
1         0         0           1     63
2         0         1           0    104
3         0         1           1    364
4         1         0           0     93
5         1         0           1    140
6         1         1           0     32
7         1         1           1     77 4
   Survived  Sex_male  Pclass_1  count
0         0         0         0     78
1         0         0         1      3
2         0         1         0    391
3         0         1         1     77
4         1         0         0    142
5         1         0         1     91
6         1         1         0     64
7         1         1         1     45 4
   Survived  Sex_male  Pclass_2  count
0         0         0         0     75
1         0         0         1      6
2         0         1         0    377
3         0         1         1     91
4         1         0         0    163
5         1         0         1     70
6         1         1         0     92
7         1         1         1     17 4
   Survived  Sex_male  Pclass_3  count
0         0         0         0      9
1         0         0         1     72
2         0         1         0    168
3         0         1         1    300
4         1         0         0    161
5         1         0         1     72
6         1         1         0     62
7         1         1         1     47 4
   Survived  Age_Child  Age_Adult  count
0         0          0          0    153
1         0          0          1    279
2         0          1          0    117
3         1          0          0     64
4         1          0          1    191
5         1          1          0     87 4
   Survived  Age_Child  Embarked_C  count
0         0          0           0    366
1         0          0           1     66
2         0          1           0    108
3         0          1           1      9
4         1          0           0    186
5         1          0           1     69
6         1          1           0     63
7         1          1           1     24 4
   Survived  Age_Child  Embarked_Q  count
0         0          0           0    393
1         0          0           1     39
2         0          1           0    109
3         0          1           1      8
4         1          0           0    229
5         1          0           1     26
6         1          1           0     83
7         1          1           1      4 4
   Survived  Age_Child  Embarked_S  count
0         0          0           0    105
1         0          0           1    327
2         0          1           0     17
3         0          1           1    100
4         1          0           0     97
5         1          0           1    158
6         1          1           0     28
7         1          1           1     59 4

In [61]:
print('combined frequent itemsets: ', combined_freq_itemsets)

combined frequent itemsets:  {('Survived',): 342, ('Sex_female',): 314, ('Sex_male',): 577, ('Age_Child',): 204, ('Age_Adult',): 470, ('Age_Elderly',): 40, ('Embarked_C',): 168, ('Embarked_Q',): 77, ('Embarked_S',): 644, ('Pclass_1',): 216, ('Pclass_2',): 184, ('Pclass_3',): 491, ('Survived', 'Sex_female'): 233, ('Survived', 'Sex_male'): 109, ('Survived', 'Age_Child'): 87, ('Survived', 'Age_Adult'): 191, ('Survived', 'Embarked_C'): 93, ('Survived', 'Embarked_Q'): 30, ('Survived', 'Embarked_S'): 217, ('Survived', 'Pclass_1'): 136, ('Survived', 'Pclass_2'): 87, ('Survived', 'Pclass_3'): 119, ('Sex_female', 'Age_Child'): 84, ('Sex_female', 'Age_Adult'): 168, ('Sex_female', 'Embarked_C'): 73, ('Sex_female', 'Embarked_Q'): 36, ('Sex_female', 'Embarked_S'): 203, ('Sex_female', 'Pclass_1'): 94, ('Sex_female', 'Pclass_2'): 76, ('Sex_female', 'Pclass_3'): 144, ('Sex_male', 'Age_Child'): 120, ('Sex_male', 'Age_Adult'): 302, ('Sex_male', 'Age_Elderly'): 31, ('Sex_male', 'Embarked_C'): 95, ('Sex_male', 'Embarked_Q'): 41, ('Sex_male', 'Embarked_S'): 441, ('Sex_male', 'Pclass_1'): 122, ('Sex_male', 'Pclass_2'): 108, ('Sex_male', 'Pclass_3'): 347, ('Age_Child', 'Embarked_C'): 33, ('Age_Child', 'Embarked_S'): 159, ('Age_Child', 'Pclass_2'): 39, ('Age_Child', 'Pclass_3'): 141, ('Age_Adult', 'Embarked_C'): 86, ('Age_Adult', 'Embarked_S'): 370, ('Age_Adult', 'Pclass_1'): 136, ('Age_Adult', 'Pclass_2'): 127, ('Age_Adult', 'Pclass_3'): 207, ('Embarked_C', 'Pclass_1'): 85, ('Embarked_C', 'Pclass_3'): 66, ('Embarked_Q', 'Pclass_3'): 72, ('Embarked_S', 'Pclass_1'): 127, ('Embarked_S', 'Pclass_2'): 164, ('Embarked_S', 'Pclass_3'): 353, ('Survived', 'Sex_female', 'Age_Child'): 57, ('Survived', 'Sex_female', 'Age_Adult'): 132, ('Survived', 'Sex_female', 'Embarked_C'): 64, ('Survived', 'Sex_female', 'Embarked_S'): 140, ('Survived', 'Sex_female', 'Pclass_1'): 91, ('Survived', 'Sex_female', 'Pclass_2'): 70, ('Survived', 'Sex_female', 'Pclass_3'): 72, ('Survived', 'Sex_male', 'Age_Child'): 30, ('Survived', 'Sex_male', 'Age_Adult'): 59, ('Survived', 'Sex_male', 'Embarked_S'): 77, ('Survived', 'Sex_male', 'Pclass_1'): 45, ('Survived', 'Sex_male', 'Pclass_3'): 47, ('Survived', 'Age_Child', 'Embarked_S'): 59, ('Survived', 'Age_Child', 'Pclass_3'): 41, ('Survived', 'Age_Adult', 'Embarked_C'): 50, ('Survived', 'Age_Adult', 'Embarked_S'): 136, ('Survived', 'Age_Adult', 'Pclass_1'): 93, ('Survived', 'Age_Adult', 'Pclass_2'): 55, ('Survived', 'Age_Adult', 'Pclass_3'): 43, ('Survived', 'Embarked_C', 'Pclass_1'): 59, ('Survived', 'Embarked_S', 'Pclass_1'): 74, ('Survived', 'Embarked_S', 'Pclass_2'): 76, ('Survived', 'Embarked_S', 'Pclass_3'): 67, ('Sex_female', 'Age_Child', 'Embarked_S'): 56, ('Sex_female', 'Age_Child', 'Pclass_3'): 51, ('Sex_female', 'Age_Adult', 'Embarked_C'): 36, ('Sex_female', 'Age_Adult', 'Embarked_S'): 125, ('Sex_female', 'Age_Adult', 'Pclass_1'): 62, ('Sex_female', 'Age_Adult', 'Pclass_2'): 56, ('Sex_female', 'Age_Adult', 'Pclass_3'): 50, ('Sex_female', 'Embarked_C', 'Pclass_1'): 43, ('Sex_female', 'Embarked_Q', 'Pclass_3'): 33, ('Sex_female', 'Embarked_S', 'Pclass_1'): 48, ('Sex_female', 'Embarked_S', 'Pclass_2'): 67, ('Sex_female', 'Embarked_S', 'Pclass_3'): 88, ('Sex_male', 'Age_Child', 'Embarked_S'): 103, ('Sex_male', 'Age_Child', 'Pclass_3'): 90, ('Sex_male', 'Age_Adult', 'Embarked_C'): 50, ('Sex_male', 'Age_Adult', 'Embarked_S'): 245, ('Sex_male', 'Age_Adult', 'Pclass_1'): 74, ('Sex_male', 'Age_Adult', 'Pclass_2'): 71, ('Sex_male', 'Age_Adult', 'Pclass_3'): 157, ('Sex_male', 'Embarked_C', 'Pclass_1'): 42, ('Sex_male', 'Embarked_C', 'Pclass_3'): 43, ('Sex_male', 'Embarked_Q', 'Pclass_3'): 39, ('Sex_male', 'Embarked_S', 'Pclass_1'): 79, ('Sex_male', 'Embarked_S', 'Pclass_2'): 97, ('Sex_male', 'Embarked_S', 'Pclass_3'): 265, ('Age_Child', 'Embarked_S', 'Pclass_2'): 35, ('Age_Child', 'Embarked_S', 'Pclass_3'): 108, ('Age_Adult', 'Embarked_C', 'Pclass_1'): 55, ('Age_Adult', 'Embarked_S', 'Pclass_1'): 78, ('Age_Adult', 'Embarked_S', 'Pclass_2'): 115, ('Age_Adult', 'Embarked_S', 'Pclass_3'): 177, ('Survived', 'Sex_female', 'Age_Child', 'Embarked_S'): 35, ('Survived', 'Sex_female', 'Age_Adult', 'Embarked_C'): 34, ('Survived', 'Sex_female', 'Age_Adult', 'Embarked_S'): 94, ('Survived', 'Sex_female', 'Age_Adult', 'Pclass_1'): 60, ('Survived', 'Sex_female', 'Age_Adult', 'Pclass_2'): 51, ('Survived', 'Sex_female', 'Embarked_C', 'Pclass_1'): 42, ('Survived', 'Sex_female', 'Embarked_S', 'Pclass_1'): 46, ('Survived', 'Sex_female', 'Embarked_S', 'Pclass_2'): 61, ('Survived', 'Sex_female', 'Embarked_S', 'Pclass_3'): 33, ('Survived', 'Sex_male', 'Age_Adult', 'Embarked_S'): 42, ('Survived', 'Sex_male', 'Age_Adult', 'Pclass_1'): 33, ('Survived', 'Sex_male', 'Embarked_S', 'Pclass_3'): 34, ('Survived', 'Age_Adult', 'Embarked_C', 'Pclass_1'): 41, ('Survived', 'Age_Adult', 'Embarked_S', 'Pclass_1'): 50, ('Survived', 'Age_Adult', 'Embarked_S', 'Pclass_2'): 50, ('Survived', 'Age_Adult', 'Embarked_S', 'Pclass_3'): 36, ('Sex_female', 'Age_Child', 'Embarked_S', 'Pclass_3'): 32, ('Sex_female', 'Age_Adult', 'Embarked_S', 'Pclass_1'): 31, ('Sex_female', 'Age_Adult', 'Embarked_S', 'Pclass_2'): 51, ('Sex_female', 'Age_Adult', 'Embarked_S', 'Pclass_3'): 43, ('Sex_male', 'Age_Child', 'Embarked_S', 'Pclass_3'): 76, ('Sex_male', 'Age_Adult', 'Embarked_S', 'Pclass_1'): 47, ('Sex_male', 'Age_Adult', 'Embarked_S', 'Pclass_2'): 64, ('Sex_male', 'Age_Adult', 'Embarked_S', 'Pclass_3'): 134, ('Survived', 'Sex_female', 'Age_Adult', 'Embarked_S', 'Pclass_1'): 30, ('Survived', 'Sex_female', 'Age_Adult', 'Embarked_S', 'Pclass_2'): 46}

In [62]:
index = 1
for key, item in rules.items():
    for i in range(1, len(key)):
        antecedent = key[:i]
        consequent = key[i:]
        print('Rule ', index, ': antecedent -> consequent: ', list(sum(antecedent, ())), '-> ', list(sum(consequent, ())), 'confidence: ', item)
        index += 1

Rule  1 : antecedent -> consequent:  ['Survived'] ->  ['Sex_female'] confidence:  0.6812865497076024
Rule  2 : antecedent -> consequent:  ['Sex_female'] ->  ['Survived'] confidence:  0.7420382165605095
Rule  3 : antecedent -> consequent:  ['Age_Child'] ->  ['Survived'] confidence:  0.4264705882352941
Rule  4 : antecedent -> consequent:  ['Survived'] ->  ['Age_Adult'] confidence:  0.5584795321637427
Rule  5 : antecedent -> consequent:  ['Age_Adult'] ->  ['Survived'] confidence:  0.40638297872340423
Rule  6 : antecedent -> consequent:  ['Embarked_C'] ->  ['Survived'] confidence:  0.5535714285714286
Rule  7 : antecedent -> consequent:  ['Survived'] ->  ['Embarked_S'] confidence:  0.6345029239766082
Rule  8 : antecedent -> consequent:  ['Pclass_1'] ->  ['Survived'] confidence:  0.6296296296296297
Rule  9 : antecedent -> consequent:  ['Pclass_2'] ->  ['Survived'] confidence:  0.47282608695652173
Rule  10 : antecedent -> consequent:  ['Age_Child'] ->  ['Sex_female'] confidence:  0.4117647058823529
Rule  11 : antecedent -> consequent:  ['Sex_female'] ->  ['Age_Adult'] confidence:  0.535031847133758
Rule  12 : antecedent -> consequent:  ['Embarked_C'] ->  ['Sex_female'] confidence:  0.43452380952380953
Rule  13 : antecedent -> consequent:  ['Embarked_Q'] ->  ['Sex_female'] confidence:  0.4675324675324675
Rule  14 : antecedent -> consequent:  ['Sex_female'] ->  ['Embarked_S'] confidence:  0.6464968152866242
Rule  15 : antecedent -> consequent:  ['Pclass_1'] ->  ['Sex_female'] confidence:  0.4351851851851852
Rule  16 : antecedent -> consequent:  ['Pclass_2'] ->  ['Sex_female'] confidence:  0.41304347826086957
Rule  17 : antecedent -> consequent:  ['Sex_female'] ->  ['Pclass_3'] confidence:  0.4585987261146497
Rule  18 : antecedent -> consequent:  ['Age_Child'] ->  ['Sex_male'] confidence:  0.5882352941176471
Rule  19 : antecedent -> consequent:  ['Sex_male'] ->  ['Age_Adult'] confidence:  0.5233968804159446
Rule  20 : antecedent -> consequent:  ['Age_Adult'] ->  ['Sex_male'] confidence:  0.6425531914893617
Rule  21 : antecedent -> consequent:  ['Age_Elderly'] ->  ['Sex_male'] confidence:  0.775
Rule  22 : antecedent -> consequent:  ['Embarked_C'] ->  ['Sex_male'] confidence:  0.5654761904761905
Rule  23 : antecedent -> consequent:  ['Embarked_Q'] ->  ['Sex_male'] confidence:  0.5324675324675324
Rule  24 : antecedent -> consequent:  ['Sex_male'] ->  ['Embarked_S'] confidence:  0.7642980935875217
Rule  25 : antecedent -> consequent:  ['Embarked_S'] ->  ['Sex_male'] confidence:  0.6847826086956522
Rule  26 : antecedent -> consequent:  ['Pclass_1'] ->  ['Sex_male'] confidence:  0.5648148148148148
Rule  27 : antecedent -> consequent:  ['Pclass_2'] ->  ['Sex_male'] confidence:  0.5869565217391305
Rule  28 : antecedent -> consequent:  ['Sex_male'] ->  ['Pclass_3'] confidence:  0.6013864818024264
Rule  29 : antecedent -> consequent:  ['Pclass_3'] ->  ['Sex_male'] confidence:  0.7067209775967414
Rule  30 : antecedent -> consequent:  ['Age_Child'] ->  ['Embarked_S'] confidence:  0.7794117647058824
Rule  31 : antecedent -> consequent:  ['Age_Child'] ->  ['Pclass_3'] confidence:  0.6911764705882353
Rule  32 : antecedent -> consequent:  ['Embarked_C'] ->  ['Age_Adult'] confidence:  0.5119047619047619
Rule  33 : antecedent -> consequent:  ['Age_Adult'] ->  ['Embarked_S'] confidence:  0.7872340425531915
Rule  34 : antecedent -> consequent:  ['Embarked_S'] ->  ['Age_Adult'] confidence:  0.5745341614906833
Rule  35 : antecedent -> consequent:  ['Pclass_1'] ->  ['Age_Adult'] confidence:  0.6296296296296297
Rule  36 : antecedent -> consequent:  ['Pclass_2'] ->  ['Age_Adult'] confidence:  0.6902173913043478
Rule  37 : antecedent -> consequent:  ['Age_Adult'] ->  ['Pclass_3'] confidence:  0.44042553191489364
Rule  38 : antecedent -> consequent:  ['Pclass_3'] ->  ['Age_Adult'] confidence:  0.4215885947046843
Rule  39 : antecedent -> consequent:  ['Embarked_C'] ->  ['Pclass_1'] confidence:  0.5059523809523809
Rule  40 : antecedent -> consequent:  ['Embarked_Q'] ->  ['Pclass_3'] confidence:  0.935064935064935
Rule  41 : antecedent -> consequent:  ['Pclass_1'] ->  ['Embarked_S'] confidence:  0.5879629629629629
Rule  42 : antecedent -> consequent:  ['Pclass_2'] ->  ['Embarked_S'] confidence:  0.8913043478260869
Rule  43 : antecedent -> consequent:  ['Embarked_S'] ->  ['Pclass_3'] confidence:  0.5481366459627329
Rule  44 : antecedent -> consequent:  ['Pclass_3'] ->  ['Embarked_S'] confidence:  0.7189409368635438
Rule  45 : antecedent -> consequent:  ['Survived', 'Age_Child'] ->  ['Sex_female'] confidence:  0.6551724137931034
Rule  46 : antecedent -> consequent:  ['Sex_female', 'Age_Child'] ->  ['Survived'] confidence:  0.6785714285714286
Rule  47 : antecedent -> consequent:  ['Sex_female'] ->  ['Age_Adult', 'Survived'] confidence:  0.42038216560509556
Rule  48 : antecedent -> consequent:  ['Survived', 'Sex_female'] ->  ['Age_Adult'] confidence:  0.5665236051502146
Rule  49 : antecedent -> consequent:  ['Survived', 'Age_Adult'] ->  ['Sex_female'] confidence:  0.6910994764397905
Rule  50 : antecedent -> consequent:  ['Sex_female', 'Age_Adult'] ->  ['Survived'] confidence:  0.7857142857142857
Rule  51 : antecedent -> consequent:  ['Survived', 'Embarked_C'] ->  ['Sex_female'] confidence:  0.6881720430107527
Rule  52 : antecedent -> consequent:  ['Sex_female', 'Embarked_C'] ->  ['Survived'] confidence:  0.8767123287671232
Rule  53 : antecedent -> consequent:  ['Survived'] ->  ['Embarked_S', 'Sex_female'] confidence:  0.4093567251461988
Rule  54 : antecedent -> consequent:  ['Sex_female'] ->  ['Embarked_S', 'Survived'] confidence:  0.445859872611465
Rule  55 : antecedent -> consequent:  ['Survived', 'Sex_female'] ->  ['Embarked_S'] confidence:  0.6008583690987125
Rule  56 : antecedent -> consequent:  ['Survived', 'Embarked_S'] ->  ['Sex_female'] confidence:  0.6451612903225806
Rule  57 : antecedent -> consequent:  ['Sex_female', 'Embarked_S'] ->  ['Survived'] confidence:  0.6896551724137931
Rule  58 : antecedent -> consequent:  ['Pclass_1'] ->  ['Survived', 'Sex_female'] confidence:  0.4212962962962963
Rule  59 : antecedent -> consequent:  ['Survived', 'Pclass_1'] ->  ['Sex_female'] confidence:  0.6691176470588235
Rule  60 : antecedent -> consequent:  ['Sex_female', 'Pclass_1'] ->  ['Survived'] confidence:  0.9680851063829787
Rule  61 : antecedent -> consequent:  ['Survived', 'Pclass_2'] ->  ['Sex_female'] confidence:  0.8045977011494253
Rule  62 : antecedent -> consequent:  ['Sex_female', 'Pclass_2'] ->  ['Survived'] confidence:  0.9210526315789473
Rule  63 : antecedent -> consequent:  ['Survived', 'Pclass_3'] ->  ['Sex_female'] confidence:  0.6050420168067226
Rule  64 : antecedent -> consequent:  ['Sex_female', 'Pclass_3'] ->  ['Survived'] confidence:  0.5
Rule  65 : antecedent -> consequent:  ['Survived', 'Sex_male'] ->  ['Age_Adult'] confidence:  0.5412844036697247
Rule  66 : antecedent -> consequent:  ['Survived', 'Sex_male'] ->  ['Embarked_S'] confidence:  0.7064220183486238
Rule  67 : antecedent -> consequent:  ['Survived', 'Sex_male'] ->  ['Pclass_1'] confidence:  0.41284403669724773
Rule  68 : antecedent -> consequent:  ['Survived', 'Sex_male'] ->  ['Pclass_3'] confidence:  0.43119266055045874
Rule  69 : antecedent -> consequent:  ['Survived', 'Age_Child'] ->  ['Embarked_S'] confidence:  0.6781609195402298
Rule  70 : antecedent -> consequent:  ['Survived', 'Age_Child'] ->  ['Pclass_3'] confidence:  0.47126436781609193
Rule  71 : antecedent -> consequent:  ['Survived', 'Embarked_C'] ->  ['Age_Adult'] confidence:  0.5376344086021505
Rule  72 : antecedent -> consequent:  ['Age_Adult', 'Embarked_C'] ->  ['Survived'] confidence:  0.5813953488372093
Rule  73 : antecedent -> consequent:  ['Survived', 'Age_Adult'] ->  ['Embarked_S'] confidence:  0.7120418848167539
Rule  74 : antecedent -> consequent:  ['Survived', 'Embarked_S'] ->  ['Age_Adult'] confidence:  0.6267281105990783
Rule  75 : antecedent -> consequent:  ['Pclass_1'] ->  ['Age_Adult', 'Survived'] confidence:  0.4305555555555556
Rule  76 : antecedent -> consequent:  ['Survived', 'Age_Adult'] ->  ['Pclass_1'] confidence:  0.4869109947643979
Rule  77 : antecedent -> consequent:  ['Survived', 'Pclass_1'] ->  ['Age_Adult'] confidence:  0.6838235294117647
Rule  78 : antecedent -> consequent:  ['Age_Adult', 'Pclass_1'] ->  ['Survived'] confidence:  0.6838235294117647
Rule  79 : antecedent -> consequent:  ['Survived', 'Pclass_2'] ->  ['Age_Adult'] confidence:  0.632183908045977
Rule  80 : antecedent -> consequent:  ['Age_Adult', 'Pclass_2'] ->  ['Survived'] confidence:  0.4330708661417323
Rule  81 : antecedent -> consequent:  ['Survived', 'Embarked_C'] ->  ['Pclass_1'] confidence:  0.6344086021505376
Rule  82 : antecedent -> consequent:  ['Survived', 'Pclass_1'] ->  ['Embarked_C'] confidence:  0.4338235294117647
Rule  83 : antecedent -> consequent:  ['Embarked_C', 'Pclass_1'] ->  ['Survived'] confidence:  0.6941176470588235
Rule  84 : antecedent -> consequent:  ['Survived', 'Pclass_1'] ->  ['Embarked_S'] confidence:  0.5441176470588235
Rule  85 : antecedent -> consequent:  ['Embarked_S', 'Pclass_1'] ->  ['Survived'] confidence:  0.5826771653543307
Rule  86 : antecedent -> consequent:  ['Pclass_2'] ->  ['Embarked_S', 'Survived'] confidence:  0.41304347826086957
Rule  87 : antecedent -> consequent:  ['Survived', 'Pclass_2'] ->  ['Embarked_S'] confidence:  0.8735632183908046
Rule  88 : antecedent -> consequent:  ['Embarked_S', 'Pclass_2'] ->  ['Survived'] confidence:  0.4634146341463415
Rule  89 : antecedent -> consequent:  ['Survived', 'Pclass_3'] ->  ['Embarked_S'] confidence:  0.5630252100840336
Rule  90 : antecedent -> consequent:  ['Sex_female', 'Age_Child'] ->  ['Embarked_S'] confidence:  0.6666666666666666
Rule  91 : antecedent -> consequent:  ['Sex_female', 'Age_Child'] ->  ['Pclass_3'] confidence:  0.6071428571428571
Rule  92 : antecedent -> consequent:  ['Sex_female', 'Embarked_C'] ->  ['Age_Adult'] confidence:  0.4931506849315068
Rule  93 : antecedent -> consequent:  ['Age_Adult', 'Embarked_C'] ->  ['Sex_female'] confidence:  0.4186046511627907
Rule  94 : antecedent -> consequent:  ['Sex_female', 'Age_Adult'] ->  ['Embarked_S'] confidence:  0.7440476190476191
Rule  95 : antecedent -> consequent:  ['Sex_female', 'Embarked_S'] ->  ['Age_Adult'] confidence:  0.6157635467980296
Rule  96 : antecedent -> consequent:  ['Sex_female', 'Pclass_1'] ->  ['Age_Adult'] confidence:  0.6595744680851063
Rule  97 : antecedent -> consequent:  ['Age_Adult', 'Pclass_1'] ->  ['Sex_female'] confidence:  0.45588235294117646
Rule  98 : antecedent -> consequent:  ['Sex_female', 'Pclass_2'] ->  ['Age_Adult'] confidence:  0.7368421052631579
Rule  99 : antecedent -> consequent:  ['Age_Adult', 'Pclass_2'] ->  ['Sex_female'] confidence:  0.4409448818897638
Rule  100 : antecedent -> consequent:  ['Sex_female', 'Embarked_C'] ->  ['Pclass_1'] confidence:  0.589041095890411
Rule  101 : antecedent -> consequent:  ['Sex_female', 'Pclass_1'] ->  ['Embarked_C'] confidence:  0.4574468085106383
Rule  102 : antecedent -> consequent:  ['Embarked_C', 'Pclass_1'] ->  ['Sex_female'] confidence:  0.5058823529411764
Rule  103 : antecedent -> consequent:  ['Embarked_Q'] ->  ['Pclass_3', 'Sex_female'] confidence:  0.42857142857142855
Rule  104 : antecedent -> consequent:  ['Sex_female', 'Embarked_Q'] ->  ['Pclass_3'] confidence:  0.9166666666666666
Rule  105 : antecedent -> consequent:  ['Embarked_Q', 'Pclass_3'] ->  ['Sex_female'] confidence:  0.4583333333333333
Rule  106 : antecedent -> consequent:  ['Sex_female', 'Pclass_1'] ->  ['Embarked_S'] confidence:  0.5106382978723404
Rule  107 : antecedent -> consequent:  ['Sex_female', 'Pclass_2'] ->  ['Embarked_S'] confidence:  0.881578947368421
Rule  108 : antecedent -> consequent:  ['Embarked_S', 'Pclass_2'] ->  ['Sex_female'] confidence:  0.40853658536585363
Rule  109 : antecedent -> consequent:  ['Sex_female', 'Embarked_S'] ->  ['Pclass_3'] confidence:  0.43349753694581283
Rule  110 : antecedent -> consequent:  ['Sex_female', 'Pclass_3'] ->  ['Embarked_S'] confidence:  0.6111111111111112
Rule  111 : antecedent -> consequent:  ['Age_Child'] ->  ['Sex_male', 'Embarked_S'] confidence:  0.5049019607843137
Rule  112 : antecedent -> consequent:  ['Sex_male', 'Age_Child'] ->  ['Embarked_S'] confidence:  0.8583333333333333
Rule  113 : antecedent -> consequent:  ['Age_Child', 'Embarked_S'] ->  ['Sex_male'] confidence:  0.6477987421383647
Rule  114 : antecedent -> consequent:  ['Age_Child'] ->  ['Pclass_3', 'Sex_male'] confidence:  0.4411764705882353
Rule  115 : antecedent -> consequent:  ['Sex_male', 'Age_Child'] ->  ['Pclass_3'] confidence:  0.75
Rule  116 : antecedent -> consequent:  ['Age_Child', 'Pclass_3'] ->  ['Sex_male'] confidence:  0.6382978723404256
Rule  117 : antecedent -> consequent:  ['Sex_male', 'Embarked_C'] ->  ['Age_Adult'] confidence:  0.5263157894736842
Rule  118 : antecedent -> consequent:  ['Age_Adult', 'Embarked_C'] ->  ['Sex_male'] confidence:  0.5813953488372093
Rule  119 : antecedent -> consequent:  ['Sex_male'] ->  ['Age_Adult', 'Embarked_S'] confidence:  0.4246100519930676
Rule  120 : antecedent -> consequent:  ['Age_Adult'] ->  ['Sex_male', 'Embarked_S'] confidence:  0.5212765957446809
Rule  121 : antecedent -> consequent:  ['Sex_male', 'Age_Adult'] ->  ['Embarked_S'] confidence:  0.8112582781456954
Rule  122 : antecedent -> consequent:  ['Sex_male', 'Embarked_S'] ->  ['Age_Adult'] confidence:  0.5555555555555556
Rule  123 : antecedent -> consequent:  ['Age_Adult', 'Embarked_S'] ->  ['Sex_male'] confidence:  0.6621621621621622
Rule  124 : antecedent -> consequent:  ['Sex_male', 'Pclass_1'] ->  ['Age_Adult'] confidence:  0.6065573770491803
Rule  125 : antecedent -> consequent:  ['Age_Adult', 'Pclass_1'] ->  ['Sex_male'] confidence:  0.5441176470588235
Rule  126 : antecedent -> consequent:  ['Sex_male', 'Pclass_2'] ->  ['Age_Adult'] confidence:  0.6574074074074074
Rule  127 : antecedent -> consequent:  ['Age_Adult', 'Pclass_2'] ->  ['Sex_male'] confidence:  0.5590551181102362
Rule  128 : antecedent -> consequent:  ['Sex_male', 'Age_Adult'] ->  ['Pclass_3'] confidence:  0.5198675496688742
Rule  129 : antecedent -> consequent:  ['Sex_male', 'Pclass_3'] ->  ['Age_Adult'] confidence:  0.45244956772334294
Rule  130 : antecedent -> consequent:  ['Age_Adult', 'Pclass_3'] ->  ['Sex_male'] confidence:  0.7584541062801933
Rule  131 : antecedent -> consequent:  ['Sex_male', 'Embarked_C'] ->  ['Pclass_1'] confidence:  0.4421052631578947
Rule  132 : antecedent -> consequent:  ['Embarked_C', 'Pclass_1'] ->  ['Sex_male'] confidence:  0.49411764705882355
Rule  133 : antecedent -> consequent:  ['Sex_male', 'Embarked_C'] ->  ['Pclass_3'] confidence:  0.45263157894736844
Rule  134 : antecedent -> consequent:  ['Embarked_C', 'Pclass_3'] ->  ['Sex_male'] confidence:  0.6515151515151515
Rule  135 : antecedent -> consequent:  ['Embarked_Q'] ->  ['Pclass_3', 'Sex_male'] confidence:  0.5064935064935064
Rule  136 : antecedent -> consequent:  ['Sex_male', 'Embarked_Q'] ->  ['Pclass_3'] confidence:  0.9512195121951219
Rule  137 : antecedent -> consequent:  ['Embarked_Q', 'Pclass_3'] ->  ['Sex_male'] confidence:  0.5416666666666666
Rule  138 : antecedent -> consequent:  ['Sex_male', 'Pclass_1'] ->  ['Embarked_S'] confidence:  0.6475409836065574
Rule  139 : antecedent -> consequent:  ['Embarked_S', 'Pclass_1'] ->  ['Sex_male'] confidence:  0.6220472440944882
Rule  140 : antecedent -> consequent:  ['Pclass_2'] ->  ['Sex_male', 'Embarked_S'] confidence:  0.5271739130434783
Rule  141 : antecedent -> consequent:  ['Sex_male', 'Pclass_2'] ->  ['Embarked_S'] confidence:  0.8981481481481481
Rule  142 : antecedent -> consequent:  ['Embarked_S', 'Pclass_2'] ->  ['Sex_male'] confidence:  0.5914634146341463
Rule  143 : antecedent -> consequent:  ['Sex_male'] ->  ['Pclass_3', 'Embarked_S'] confidence:  0.4592720970537262
Rule  144 : antecedent -> consequent:  ['Embarked_S'] ->  ['Pclass_3', 'Sex_male'] confidence:  0.4114906832298137
Rule  145 : antecedent -> consequent:  ['Pclass_3'] ->  ['Sex_male', 'Embarked_S'] confidence:  0.539714867617108
Rule  146 : antecedent -> consequent:  ['Sex_male', 'Embarked_S'] ->  ['Pclass_3'] confidence:  0.6009070294784581
Rule  147 : antecedent -> consequent:  ['Sex_male', 'Pclass_3'] ->  ['Embarked_S'] confidence:  0.7636887608069164
Rule  148 : antecedent -> consequent:  ['Embarked_S', 'Pclass_3'] ->  ['Sex_male'] confidence:  0.7507082152974505
Rule  149 : antecedent -> consequent:  ['Age_Child', 'Pclass_2'] ->  ['Embarked_S'] confidence:  0.8974358974358975
Rule  150 : antecedent -> consequent:  ['Age_Child'] ->  ['Pclass_3', 'Embarked_S'] confidence:  0.5294117647058824
Rule  151 : antecedent -> consequent:  ['Age_Child', 'Embarked_S'] ->  ['Pclass_3'] confidence:  0.6792452830188679
Rule  152 : antecedent -> consequent:  ['Age_Child', 'Pclass_3'] ->  ['Embarked_S'] confidence:  0.7659574468085106
Rule  153 : antecedent -> consequent:  ['Age_Adult', 'Embarked_C'] ->  ['Pclass_1'] confidence:  0.6395348837209303
Rule  154 : antecedent -> consequent:  ['Age_Adult', 'Pclass_1'] ->  ['Embarked_C'] confidence:  0.40441176470588236
Rule  155 : antecedent -> consequent:  ['Embarked_C', 'Pclass_1'] ->  ['Age_Adult'] confidence:  0.6470588235294118
Rule  156 : antecedent -> consequent:  ['Age_Adult', 'Pclass_1'] ->  ['Embarked_S'] confidence:  0.5735294117647058
Rule  157 : antecedent -> consequent:  ['Embarked_S', 'Pclass_1'] ->  ['Age_Adult'] confidence:  0.6141732283464567
Rule  158 : antecedent -> consequent:  ['Pclass_2'] ->  ['Age_Adult', 'Embarked_S'] confidence:  0.625
Rule  159 : antecedent -> consequent:  ['Age_Adult', 'Pclass_2'] ->  ['Embarked_S'] confidence:  0.905511811023622
Rule  160 : antecedent -> consequent:  ['Embarked_S', 'Pclass_2'] ->  ['Age_Adult'] confidence:  0.7012195121951219
Rule  161 : antecedent -> consequent:  ['Age_Adult', 'Embarked_S'] ->  ['Pclass_3'] confidence:  0.4783783783783784
Rule  162 : antecedent -> consequent:  ['Age_Adult', 'Pclass_3'] ->  ['Embarked_S'] confidence:  0.855072463768116
Rule  163 : antecedent -> consequent:  ['Embarked_S', 'Pclass_3'] ->  ['Age_Adult'] confidence:  0.5014164305949008
Rule  164 : antecedent -> consequent:  ['Survived', 'Age_Child'] ->  ['Embarked_S', 'Sex_female'] confidence:  0.40229885057471265
Rule  165 : antecedent -> consequent:  ['Sex_female', 'Age_Child'] ->  ['Embarked_S', 'Survived'] confidence:  0.4166666666666667
Rule  166 : antecedent -> consequent:  ['Survived', 'Sex_female', 'Age_Child'] ->  ['Embarked_S'] confidence:  0.6140350877192983
Rule  167 : antecedent -> consequent:  ['Survived', 'Age_Child', 'Embarked_S'] ->  ['Sex_female'] confidence:  0.5932203389830508
Rule  168 : antecedent -> consequent:  ['Sex_female', 'Age_Child', 'Embarked_S'] ->  ['Survived'] confidence:  0.625
Rule  169 : antecedent -> consequent:  ['Sex_female', 'Embarked_C'] ->  ['Age_Adult', 'Survived'] confidence:  0.4657534246575342
Rule  170 : antecedent -> consequent:  ['Survived', 'Sex_female', 'Embarked_C'] ->  ['Age_Adult'] confidence:  0.53125
Rule  171 : antecedent -> consequent:  ['Survived', 'Age_Adult', 'Embarked_C'] ->  ['Sex_female'] confidence:  0.68
Rule  172 : antecedent -> consequent:  ['Sex_female', 'Age_Adult', 'Embarked_C'] ->  ['Survived'] confidence:  0.9444444444444444
Rule  173 : antecedent -> consequent:  ['Survived', 'Sex_female'] ->  ['Age_Adult', 'Embarked_S'] confidence:  0.4034334763948498
Rule  174 : antecedent -> consequent:  ['Survived', 'Age_Adult'] ->  ['Embarked_S', 'Sex_female'] confidence:  0.49214659685863876
Rule  175 : antecedent -> consequent:  ['Survived', 'Embarked_S'] ->  ['Age_Adult', 'Sex_female'] confidence:  0.43317972350230416
Rule  176 : antecedent -> consequent:  ['Sex_female', 'Age_Adult'] ->  ['Embarked_S', 'Survived'] confidence:  0.5595238095238095
Rule  177 : antecedent -> consequent:  ['Sex_female', 'Embarked_S'] ->  ['Age_Adult', 'Survived'] confidence:  0.4630541871921182